[2019-04-29 11:42] Solido opened #1 "Awesome Flutter"
Read contributing.md (twice !!) and if you want there's a VR section there where you can add yours. Thx !

[2019-05-01 21:19] #1 closed

[2019-05-02 10:43] yash365 opened #2 "my app keeps stopping"
Used the example code mentioned in [https://pub.dartlang.org/packages/arcore_flutter_plugin#example](url)

Getting the following error message in the console while running the app:
`Launching lib/main.dart on Nokia 8 1 in debug mode...
Initializing gradle...                                              1.6s
Resolving dependencies...                                           2.8s
Running Gradle tas

[2019-05-03 14:47] giandifra commented on #2
hi, did you try other native application with ARCore ?
Do you have ARCore installed in you device?
I will check installation process of ARCore  of my plugin...

[2019-05-04 08:02] yash365 commented on #2
I don't have arcore install in my device... how can I download it ?

[2019-05-04 17:53] giandifra commented on #2
[here](https://play.google.com/store/apps/details?id=com.google.ar.core&hl=it)

[2019-05-07 09:26] jakoby12 opened #3 "[Request] Possibility to add measure feature?"
Hi!

First of all great job for your plugin it's work perfectly even on emulator!

Thanks to  [Oleksandr Leuschenko](https://github.com/olexale) I have measure feature in AR on iPhone.
So I would like to know if you can add measure feature in your plugin.

Thank you in advance!

[2019-05-07 09:34] yash365 commented on #2
it worked and now the app the running great

[2019-05-07 09:34] #2 closed

[2019-05-07 16:45] giandifra commented on #3
Yes, I will implement it!

Thanks a lot!

[2019-05-07 20:51] hellowtisch opened #4 "[Request] Detect images from augmentedImageDatabase"
Hi Gian Franco,

thanks for your great work! It would be really helpful if the ARCore Feature to detect images from an AugmentedImageDatabase was available for flutter.
Is this on your list, or is it maybe already possible to use?

[2019-05-13 10:28] giandifra commented on #4
Hi, yes this feature is in TODO list for this plugin!
I will implement it

[2019-05-27 10:07] JoachimLoche commented on #3
Yes it would be realy great!

[2019-06-03 11:39] obitodarky commented on #2
@giandifra
I had the same issue but I was unable to install arcore. It says that my device isn't compatible. However, I have my device is arm-64 with Android 9 and API 28. What is the issue!?

[2019-06-05 10:05] Frixoe opened #5 "java.lang.IllegalStateException: Couldn't create Engine"
I'm trying to implement this plugin and my code is very similar to the example given.

However, whenever I start the app, I get this [output.](https://hastebin.com/onorobeneq.makefile) The line I think matters the most is: `java.lang.IllegalStateException: Couldn't create Engine`

`flutter doctor` says there are no issues.

Please help, I really need this to work. I've looked everywhere and couldn

[2019-06-05 17:28] Frixoe commented on #5
I just ran the example you have provided in the repo and go the same result: `java.lang.IllegalStateException: Couldn't create Engine`

[2019-06-17 10:15] tonyshkurenko opened #6 "Local cache"
I see in the example, that I can pass url of the 3d model and library will download it and display. But what if I want to manage cache by myself? I saw in docs, that I have to pass Uri in java/kotlin, how can I pass uri to file from Dart? I've only seen remote url example

[2019-07-09 09:22] scognito opened #7 "test if ARCore is installed"
Is possibile to check if the ARCore package is installed?
I'm building an app with optional AR code, but ARCore package is usually not installed.
It will also be useful to check if the device is compatible to AR core.

Thanks

[2019-07-16 14:00] Mohammad-Quanit opened #8 "Execution failed for task ':app:processDebugManifest'."
Hello, I have tried your library with its complete configuration but when I do run "flutter run", I am getting this error. Here's the full error stack,

     `Launching lib/main.dart on Nokia 2 in debug mode...
        Initializing gradle...                                              1.2s
        Resolving dependencies...                                           2.9s
        /home/mquanit/Docum

[2019-07-16 14:01] Mohammad-Quanit commented on #8
Here's my AndroidManifest.xml

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ar_app">

    <uses-sdk android:minSdkVersion="24" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />

    <application
        android:name="io.flutter.app.FlutterAppli

[2019-07-18 14:05] scognito commented on #8
Use this meta for "com.google.ar.core"

 <meta-data android:name="com.google.ar.core" android:value="required" tools:replace="android:value" />

[2019-07-19 07:43] Mohammad-Quanit commented on #8
@scognito I have already added this meta but still now my app is not opening it's getting crashed whenever i try to open....

[2019-07-19 08:30] scognito commented on #8
Paste your stacktrace

[2019-07-20 08:53] Mohammad-Quanit commented on #8
@scognito

W/Adreno-ES20(31558): <get_gpu_clk:229>: open failed: errno 13
W/.example.ar_app(31558): type=1400 audit(0.0:671523): avc: denied { read } for name="gpuclk" dev="sysfs" ino=10212 scontext=u:r:untrusted_app:s0:c512,c768 tcontext=u:object_r:sysfs:s0 tclass=file permissive=0
I/Filament(31558): FEngine (32 bits) created at 0x80600000 (threading is enabled)
D/Filament(31558): FEngine resolve

[2019-07-20 08:56] Mohammad-Quanit commented on #8
![Screenshot_20190720-135100](https://user-images.githubusercontent.com/32056694/61576659-186d3e00-aaf6-11e9-84ce-18cb8cf5442e.png)

[2019-07-20 10:25] scognito commented on #8
Send the code too, and both build.gradle (app and project) just to try to replicate. Have you followed exactly the instructions to enable arcore?

https://medium.com/@difrancescogianmarco/arcore-flutter-plugin-configurations-3ee53f2dc749

[2019-07-28 22:46] abbasidaniyal opened #9 "Custom Shapes"
Great work first of all!

How can we render custom shapes?
Example : I build a 3D model of a product. Is it possible to import it?

Also, is there any implementation of attaching the node to a scene?

[2019-07-29 09:04] zxj17815 commented on #8
I have encountered the same situation, but I was able to run it before. It is not working now. I have not done any changes, except for upgrading Flutter.

[2019-07-29 09:06] zxj17815 commented on #8
I/com.difrancescogianmarco.arcore_flutter_plugin.RenderableCustomFactory( 3541): material not null
I/com.difrancescogianmarco.arcore_flutter_plugin.ArCoreView( 3541): inserted qt_iql\vdvraYwra
I/com.difrancescogianmarco.arcore_flutter_plugin.ArCoreView( 3541): addNodeToSceneWithGeometry: NOT PARENT_NODE_NAME
I/com.difrancescogianmarco.arcore_flutter_plugin.RenderableCustomFactory( 3541): material

[2019-07-29 09:06] zxj17815 commented on #8
E/AndroidRuntime( 3541): 	at com.difrancescogianmarco.arcore_flutter_plugin.ArCoreView$setupLifeCycle$1.onActivityCreated(Unknown Source:7)
E/AndroidRuntime( 3541): 	at android.app.Application.dispatchActivityCreated(Application.java:220)
E/AndroidRuntime( 3541): 	at android.app.Activity.onCreate(Activity.java:1048)
E/AndroidRuntime( 3541): 	at com.google.ar.core.InstallActivity.onCreate(InstallAc

[2019-07-29 09:08] zxj17815 commented on #8
D/EGL_emulation( 3609): eglCreateContext: 0x7e1bd3c83a20: maj 3 min 1 rcv 4
D/EGL_emulation( 3609): eglMakeCurrent: 0x7e1bd3c83a20: ver 3 1 (tinfo 0x7e1beedd7a00)
E/eglCodecCommon( 3609): glUtilsParamSize: unknow param 0x000082da
E/eglCodecCommon( 3609): glUtilsParamSize: unknow param 0x000082da
I/Filament( 3609): FEngine (64 bits) created at 0x7e1bcea00000 (threading is enabled)
D/Filament( 3609)

[2019-07-30 16:23] Taimoors95 opened #10 "how to rotate and zoom in zoom out or change size of 3D object in ar core flutter?"

[2019-08-18 11:59] giandifra commented on #10
Hi, for now this function isn't implemented. I m so sorry but I have not time for add this function. I hope to add and fix problems in the future (some months at max)

[2019-08-18 12:02] giandifra commented on #8
Have you check if your smartphone support Android ArCore?

[2019-08-18 12:04] giandifra commented on #7
I will see the solution to this problem!

[2019-08-18 17:34] Liliana99 opened #11 "Device not compatible with google services AR"
I had tried  to install the my demo_app usign the plugin ar_core_flutter  on my device BQ then on Google Play Services AR, saids my device is not compatible with this versión!!, the Android System on my device is 8.1.0.

Then I try to install on Galaxy Tab A(2016) SM-T580 Android versión 8.1.0 the result was the same => 'Device  is not compatible '

[2019-08-26 04:35] ukeOnFire commented on #11
https://developers.google.com/ar/discover/supported-devices

I am, too, troubled that my BQ device is not compatible. However, you can get it to work on an emulator.

[2019-08-26 13:28] Mohammad-Quanit commented on #8
These are the devices which support arCore and my device is not on the list. #sedlyf
Asus Zenfone AR
Asus Zenfone Ares
Google Nexus 5X
Google Nexus 6P
Google Pixel, Pixel XL
Google Pixel 2, Pixel 2 XL
Google Pixel 3, Pixel 3 XL
Nokia 6 (2018)
Nokia 6.1 Plus
Nokia 7 Plus
Nokia 8
Nokia 7.1
Nokia 8 Sirocco
Honor 8X
Honor View 10 Lite
Honor 10
Honor V20
Nova 3, Nova 3i
Huawei Mate 20 Lite
Huawei Mate

[2019-08-26 13:30] #8 closed

[2019-09-06 16:10] #11 closed

[2019-09-13 16:25] alejandro-andre opened #13 "Sample app not working"
I tried to compile and run the sample app, without any changes, and once you select any option on the menu list, nothing happens.

My phone is a Samsung A70.

At some point, a Java exception is thrown, I don't know if this is the cause:
java.lang.NoSuchFieldError: no "J" field "nativeHandle" in class "Lcom/google/ar/core/Session;" or its superclasses

The complete run log is:

D/ViewRootImpl@a3715

[2019-10-16 04:37] grau111 commented on #13
in my flutter 1.9.1 project with android 3.5.1 i can't run the plugin! Just as I can't create sfb because sceneform has a bug. How to solve?

[2019-10-16 04:38] grau111 opened #14 "Flutter 1.9.1"
in my flutter 1.9.1 project with android 3.5.1 i can't run the plugin! Just as I can't create sfb because sceneform has a bug. How to solve?

[2019-10-20 20:18] bandaralsehli opened #15 "how show text .."
how can add text is there any function for that like function ArCoreNode for shape..
how can improve or add new function to  plugin ......

[2019-10-25 08:49] JeromeGsq opened #16 "What happens when you launch it on a device lower than API 24?"
Hello,

Does this package support devices that are not ArCore compatible?
A message appears?

I tried this package on emulator 7.0 x86_64 and I have this error :
[code]

Flutter doctor :
[code]

Thank you

[2019-10-30 13:01] iamprakash13 opened #17 "can you create arkit for andriod as well?"
like all fucntions of arkit in android https://github.com/olexale/arkit_flutter_plugin

image tracking n etc

please make plugin it helps a lot.

[2019-10-30 13:02] iamprakash13 commented on #15
yes that part of arkit(ios only for now). yes that needs to be added.

[2019-10-30 13:39] giandifra commented on #17
Hi, i'm working to implement [Augmented Faces](https://developers.google.com/ar/develop/java/augmented-faces) of ArCore.
I hope to implement all available feature.

[2019-10-30 13:42] #17 closed

[2019-10-30 13:58] giandifra commented on #16
Hi, I use [Sceneform](https://developers.google.com/ar/develop/java/sceneform).
Sceneform requires minSdkVersion >= 24.

[2019-10-30 13:58] #16 closed

[2019-11-06 21:36] dannycortesv opened #18 "(Question) Does this plugin support iOS Platform?"
Didn't find any reference to it, so can you guys help me know if this plugin support iOS Platform? Thanks

[2019-11-07 15:05] anirudhsharma392 opened #19 "How to use a local Model (.gltf file)?"
Does model needs to be hosted or can we use local file in the url given below:

[code]
Also is there any other way to load local models?

[2019-11-07 22:11] MoSamir opened #20 "Sample project crash"
Sample Project not working crashes when opening any AR screen with stack trace

I/hwaps   (  570): JNI_OnLoad
V/AudioManager(  570): playSoundEffect   effectType: 0
E/BufferQueueProducer(  570): [] Can not get hwsched service
D/HwCust  (  570): Create obj success use class android.app.HwCustHwWallpaperManagerImpl
I/Filament(  570): FEngine (64 bits) created at 0x7504400000 (threading is enabled)
D

[2019-11-12 03:33] calvyntwh commented on #18
i would like to know as well

[2019-11-13 09:53] DK15 opened #21 "App crashing upon launch"
I am trying to replicate the steps mentioned in [this](https://medium.com/@difrancescogianmarco/arcore-flutter-plugin-add-object-on-the-plane-8b3d7cbde3d3) article, but seeing crash when app launches.
Appreciate any help in identifying and resolving this crash.

Below is the code I am trying to run in `main.dart`:

[code]

`manifest.xml`:

[code]

`app/build.gradle`:

[code]

[2019-11-13 09:54] DK15 commented on #20
I am getting same crash and listed [here](https://github.com/giandifra/arcore_flutter_plugin/issues/21).

[2019-11-14 22:54] anirudhsharma392 commented on #18
No, for iOS you can use this :
https://pub.dev/packages/arkit_plugin

[2019-11-14 22:57] anirudhsharma392 commented on #10
Hi, I am using this library for my college project.
Is there any way to rotate or translate the 3D object?
If not yet implemented any idea how can I implement that?

[2019-11-15 02:24] 4RSIM3R opened #22 "Can Not Launch Application | error: no suitable method found for add(ArcoreFlutterPlugin)"
Hey i get some problem here
![why](https://user-images.githubusercontent.com/44225519/68912076-9f22e680-0789-11ea-802e-37fd2b9de7a2.JPG)

[2019-11-15 07:47] DK15 commented on #20
@giandifra could you please let us know what could be the issue here ?

[2019-11-17 17:57] rajiramamoorthi commented on #10
Any update on this feature

[2019-11-18 06:10] DK15 commented on #20
FWIW, I am using android emulator with below specs:

![Screen Shot 2019-11-18 at 11 36 31 AM](https://user-images.githubusercontent.com/16548367/69028500-2c6b7280-09f8-11ea-8c2d-74f329d4cdfa.png)

[2019-11-18 09:17] DK15 commented on #20
I followed all steps from [here](https://developers.google.com/ar/develop/java/emulator) which fixed the crash.

[2019-11-18 09:18] #21 closed

[2019-11-18 10:15] giandifra commented on #20
I will add this info in readme, thanks

[2019-11-18 10:15] #20 closed

[2019-11-18 10:17] giandifra commented on #18
AR Core SDK is available for ios too, I will implement ios side in the future (I have little free time now)

[2019-11-18 10:17] #18 closed

[2019-11-18 15:09] jetobe95 commented on #9
??

[2019-11-18 15:09] jetobe95 commented on #9
How can i add a video?

[2019-11-21 10:01] DK15 opened #23 "How to tap and place object and share on other device ?"
@giandifra I am exploring AR and your articles and repo has been helpful.
With current plugin, is it possible to:

1. Place the object when plane is detected ?
2. Share the object on other device at the same time ? or let's say draw a line or circle on screen and that is rendered on other device ?

Appreciate your response on this.

[2019-11-21 10:05] giandifra commented on #23
Hi,

1. Yes
2. No, this feature is not implemented [(Cloud Anchor)],
(https://developers.google.com/ar/develop/java/cloud-anchors/overview-android)

I have every intention of implementing these functions (I only need time), of course the pull requests are welcome

[2019-11-21 10:07] giandifra commented on #14
Yes Sceneform has bug. Android Studio crash more time when i use Sceneform plugin.
You can see my example project and use the same version, but the plugin still crashing

[2019-11-21 10:42] DK15 commented on #23
Thanks for quick response. For 1, could you let me know how to achieve that or point me to reference (when plane is detected and tapped, the object will be placed there).

Thanks.

[2019-12-01 05:52] #23 closed

[2019-12-18 11:20] ruggeropanzeri-solunica opened #25 "Disabling shadow"
There is a way to disable shadow on materials?

[2019-12-19 13:42] vladir95 commented on #22
#24 Should fix that issue

[2019-12-19 19:26] Tareque2208 opened #26 "':app:transformClassesAndResourcesWithR8ForRelease'"
I found this error while deploying the example to see how it works. It did "flutter pug get" .  Getting this error while deploying. Is there anyone who can help me out here? I was about to run in Xiomi A2 lite with android version 9. So, How to solve this problem?

![image](https://user-images.githubusercontent.com/16764227/71203043-8006ff80-22c7-11ea-826e-3a3f275fb639.png)

[2019-12-24 18:30] djeriko commented on #22
Same issue

C:\projects\glory_places_ar\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java:15: error: no suitable method found for add(ArcoreFlutterPlugin)
    flutterEngine.getPlugins().add(new com.difrancescogianmarco.arcore_flutter_plugin.ArcoreFlutterPlugin());
                              ^
    method PluginRegistry.add(FlutterPlugin) is not applicable
      (argumen

[2019-12-28 12:40] Chaitanyaha opened #27 "The Application Crashes and stops,"
D/Dialog  (17859): mIsSamsungBasicInteraction = false
D/Dialog  (17859): mIsSamsungBasicInteraction = false, isMetaDataInActivity = false
I/ArCoreViewFactory(17859): 0
I/ArCoreViewFactory(17859): {type=standard}
D/SurfaceView(17859): setPackageUsesOwnResolution() (Java SurfaceView) for unknown app: 0x0 (false)
I/Filament(17859): FEngine (32 bits) created at 0xbf300000 (threading is enabled)
D/Fila

[2019-12-29 13:50] #22 closed

[2019-12-31 23:11] alterdieg0 opened #28 "GLB file objectUrl"
Hi, in the _remote object_ feature, the official documentation says that you can load either a GLTF or GLB file.

But in the plugin trying a link with a GLB at objectUrl in ArCoreReferenceNode it seems not to be working.

Any updates on that will be really helpful

[2020-01-02 09:08] giandifra commented on #27
Have you check if your device is supported? [Supported Devices](https://developers.google.com/ar/discover/supported-devices)

[2020-01-04 00:33] giandifra commented on #2
Check if you device is supported [here](https://developers.google.com/ar/discover/supported-devices)

[2020-01-04 00:35] giandifra commented on #27
See #2

[2020-01-07 08:48] vextraz commented on #28
Just solved it changing RenderableSource.SourceType.GLTF2 to RenderableSource.SourceType.GLB at RenderableCustomFactory.kt

[2020-01-07 17:51] BlueskyFR opened #29 "Custom Shape"
Hi!

It seems that this is the only Flutter Plugin enabling AR.
How may I add a 3D dog to a scene?

I mean, adding just squares, circles and cylinders is useless, and I cannot find any documentation for this library.

Can you help?
Thanks!

[2020-01-14 11:18] CyberFoxHax opened #30 "ArCoreReferenceNode.obcject3DFileName"
"obcject3DFileName" is spelled wrong

[2020-01-17 10:07] #30 closed

[2020-01-22 15:05] scognito commented on #7
Use [AppAvailability](https://pub.dev/packages/flutter_appavailability).

[code]

[2020-01-23 17:54] scognito opened #31 "Model visualization problem in ARFace"
I converted the model from fbx to sfb. It is loaded ok but the part that should be hidden from my head is visible AND is like black wireframe pixelized.
I don't know if it is a problem of the library itself or arscene.
![ar](https://user-images.githubusercontent.com/466004/73010008-cf35d800-3e11-11ea-9a80-a282f804674e.jpg)

[2020-01-24 18:01] scognito opened #32 "Change ARFace at runtime"
Is possible to change the ARFaceModel at runtime? I didn't make it work, the texture remains always the same. Seems that a new call to arCoreFaceController.loadMesh doesn't load the new texture.

[2020-01-27 10:24] scognito commented on #32
Partially solved but don't know how good this solution is.
To force the ArCoreFaceView to load new faces I passed to the ArCoreFaceView the parameter "key: UniqueKey()"

[2020-01-27 15:15] dariocavada commented on #4
Do you have any roadmap (deadline) for  the **Augmented Images** feature?
Do you need some help adding this feature?

[2020-01-27 23:54] giandifra commented on #4
Hi, I have implemented augmented images feature, I will end to test in
these days, I hope to release new version of package before end of week!
Thanks

PS : any PRs are good for plugin health  ;)

Il lun 27 gen 2020, 16:15 dariocavada <notifications@github.com> ha scritto:

[2020-01-31 21:03] grau111 commented on #7
"arAvailable" is not a variable, so the checker does not work. How to fix this?

[2020-02-04 15:52] GokulDas027 commented on #29
It is possible to add sfb objects.
The example app contains an example.. [example/lib/screens/assets_object.dart](https://github.com/giandifra/arcore_flutter_plugin/blob/master/example/lib/screens/assets_object.dart)

[2020-02-04 16:46] GokulDas027 opened #33 "Failing while building apk"
Build failing while trying to build apk using the command :

Error message :
[code]

also Warning :
[code]

Debug apk builds are successful, not the release version,

[2020-02-04 17:14] GokulDas027 commented on #33
Error while R8 is enabled..

[code]

[2020-02-04 17:33] GokulDas027 commented on #33
Tough I works and create release builds without code shrink.

[2020-02-10 13:44] giandifra commented on #11
To verify from new update you can use:
`final bool isCompatibleWithArcore =
      await ArCoreController.checkArCoreAvailability();`

[2020-02-10 13:45] #14 closed

[2020-02-10 13:48] giandifra commented on #7
I've add new static method to verify compatibility => #11

[2020-02-10 13:48] #7 closed

[2020-02-10 13:49] giandifra commented on #27
Now the plugin make app with optional ArCore and you can check compatibility #11

[2020-02-10 13:49] #27 closed

[2020-02-10 15:14] #33 closed

[2020-02-10 23:26] grau111 commented on #7
Thank you !!!!!! I will test and return the result. I was thinking about
using the kotlin for my augmented reality, inside the flutter.

Em seg., 10 de fev. de 2020 às 10:48, Gian Marco Di Francesco <
notifications@github.com> escreveu:

--

[2020-02-11 19:36] chrissy25 opened #34 "TrackingImage Example is not working"
I wanted to test your latest changes for the support of image tracking, but it seems that the latest plugin version 0.0.5+1 is not supporting this example. Might be that the released plugin version is missing the required dependencies.

e.g.: There is no constant named 'AUGMENTEDIMAGES' in 'ArCoreViewType'.

[2020-02-11 20:45] chrissy25 opened #35 "Support for reading QR Codes and barcodes"
Is it possible to detect and read an QR-Code or an barcode with the plugin?

[2020-04-01 10:23] dariocavada commented on #4
Hi,
would like to trying the new **augmented image feature**, but I think the dart package repository is not updated (v 0.0.5+1 • updated: Dec 30, 2019). In the published version is not present the Augmented Images feature. In attach the comparison between the 0.0.5+1 version and the one in github.

**If you want I can use a local version of the plugin cloning this repo and test that feature,
than

[2020-04-01 10:26] dariocavada commented on #34
See #4 for updates on Augmented Images Feature

[2020-04-01 11:18] giandifra commented on #4
The repo is not sync with pub.get because I need of complete something in plugin, I had change a lot and I implemented more features.
But now I m very busy to work a Covid-19 app with my company.

I m so sorry for this.

[2020-04-01 13:53] dariocavada commented on #4
I'm sorry too because I wanted to use this form for an indoor navigation project. I still managed to use the plugin locally (with the github code), commenting two lines (I have a compilation error) and trying the example (see the snapshot).

Now I'm trying to use this local version, but if you need anything with the code, or testing, or documentation please let me know.

![arimage-sample](https://

[2020-04-14 04:45] umar0645 opened #38 "This device does not support AR"
Hi, I successfully ran the code but it is giving me an error that "this device does not support AR". After checking the list of AR supported devices on google official website I found that my device "Huawei P20 light" supports AR. So now what can be the issue, help needed?

[2020-04-25 16:43] francescopasin opened #39 "Distant objects not visible"
I've notice that if a node is too distant it's not visible. It seems that the virtual camera has a max render distance. This is a problem because I need to set some distant points

[2020-04-26 09:25] Nyerca opened #40 "Crash with QrScan plugins"
Im trying to use this plugin with:
import 'package:qrscan/qrscan.dart' as scanner;

But when i run:
String barcode = await scanner.scan();

The app crashes, while if i dont put:
ArCoreView(
            onArCoreViewCreated: _onArCoreViewCreated,
            enableTapRecognizer: true,
 )
In my code then it works.

How can i solve this? thank you!

That's the error i get:
I/com.difrancescogianmarco.a

[2020-04-28 08:22] luisestudioalfa opened #41 "Video chroma"
Hello,

Is possible to render a video with chroma in a fixed position with the plugin?

Thank you!

[2020-04-28 12:45] aadarsh-patel opened #42 "[Question] How to use .sfb file at other directory?"
![question](https://user-images.githubusercontent.com/53324291/80488327-c528f580-897b-11ea-8129-fd6361756591.JPG)

Right now i can only use sfb files present at `android/app/src/main/assets/mySFB.sfb`. What if i wanted to use sfb file at other directories? like user's sdCard

[2020-04-29 23:42] vicpon commented on #38
I get the same error. I've tried two different emulators and a Pixel 4. The emulators were a Nexus 5 API 26 (Android 8) and a Pixel 3 API 28 (Android 9). I logged in to Google Play and the AR runtime (Google Play Services for AR) is installed on all devices. This is part of the logs when I debug the Pixel 3 emulator in Android Studio:

[code]

[2020-05-03 12:10] anmolseth06 opened #43 "what this error is ??????????????????/"
Launching lib\main.dart on SM G610F in debug mode...
Running Gradle task 'assembleDebug'...
√ Built build\app\outputs\apk\debug\app-debug.apk.
D/FlutterActivity(23104): Using the launch theme as normal theme.
D/FlutterActivityAndFragmentDelegate(23104): Setting up FlutterEngine.
D/FlutterActivityAndFragmentDelegate(23104): No preferred FlutterEngine was provided. Creating a new FlutterEngine for t

[2020-05-12 15:04] ganadevprajapathy opened #44 "Extract ARcoreView as mediastreams."
Is it possible to extract the AR composite views (ArCoreFaceView/ArCoreView, ..) as mediastreams or videotracks to be integrated to other widgets.

[2020-05-13 03:05] zohaib304 opened #45 "The method 'add' isn't defined for the type 'ArCoreController'."

[2020-05-19 14:02] krishnaaro commented on #11
`final bool isCompatibleWithArcore = await ArCoreController.checkArCoreAvailability();`

Seems the above not available in arcore_flutter_plugin 0.0.5+1 (latest one till date).

and seems App crashing in unsupported mobile devices, even in example App.

need Assist, Please.

[2020-05-23 14:10] GokulDas027 commented on #45
Use `addArCoreNode` instead.

` controller.addArCoreNode(node); `

[2020-05-23 14:15] GokulDas027 opened #46 "Is it possible to use ARCore along with the Camera plugin?"
Is it possible to use ARCore and Regular Camera together, have to use some features from regular camera like the Image Streaming.
Is it possible any way to use at least Image Streaming?

[2020-05-23 14:44] #45 closed

[2020-05-30 14:21] Anshu1882000 opened #47 "unable to us augmentedimage related any method or type please help."

[2020-05-30 18:34] yusriltakeuchi opened #48 "How to create text to Node Shape?"
If i have a string variable like
String name = "Yurani";

And i want to create a node shape by that value, how to do that?

[2020-06-09 11:28] alexxlagutin commented on #43
+1. Have the same issue. Any suggestions?

[2020-06-11 15:11] niklasbartsch commented on #19
Yes, you can use `object3DFileName: 'your filename.sfb'`

https://developers.google.com/sceneform/develop/import-assets

[2020-06-12 11:42] niklasbartsch opened #49 "onNodeTap on custom ArCoreReferenceNodes"
Is it possible to detect a tap on nodes of my own ArCoreReferenceNode?

[2020-06-14 12:04] msndvlpr opened #50 "Plugin can not be used on phones with minSdkVersion < 24"
How to run `arcore_flutter_plugin` on phones with API level **less than 24**? Is it bounded to API level 24 and higher in this version or there is something wrong with my project? I get `Package install error: Failure [INSTALL_FAILED_OLDER_SDK]` error after apk installation and trying to run the app on a phone with Android 6!

[2020-06-16 14:13] MassimoTambu commented on #44
Hi, I would like to know it too

[2020-06-16 15:02] dariocavada commented on #4
Hi,
I've tested the plugin, but don't know if is the plugin itself or the ARCore Framework, but it's slow and not precise and shows a lot of debug messages.
In few seconds I receive dozens of these messages, so I'm not able to debug.
Is there any configuration to set up to remove these messages?

[code]

[2020-06-17 15:58] dariocavada opened #51 "Sceneform is Dead ?"
Looking @ **ARCore**, I see that the latest version is the **1.17**

SceneForm is **Archived** so no further development on that.

[reddit is_sceneform_dead](https://www.reddit.com/r/androiddev/comments/glduwe/is_sceneform_dead/)

Are you thinking of moving forward with the development?
To remove SceneForm? (SceneForm 1.16 is opensource and supports only the new gLTF format,
(https://www.khronos.o

[2020-07-03 18:20] harshrs641 commented on #31
Can you please tell me how you did that because there are only shapes available

[2020-07-06 15:10] pdivita commented on #31
I've attached the FBX (renamed to .png otherwise I can't upload here)
I've used the import of [sceneform assets](https://developers.google.com/sceneform/develop/import-assets).
![hat fbx](https://user-images.githubusercontent.com/35732152/86608508-effe7e00-bfaa-11ea-8bf3-d756fff0f82a.png)

[2020-07-18 11:08] msndvlpr opened #53 "How to disable plane detection?"
When it detects planes showing white dots on surfaces becomes significantly slow and crashes after a few seconds! How can I disable detection of planes?

[2020-07-20 15:26] iakshatbisht opened #54 "app not working in release mode"
i built an application using arcore_flutter plugin. the app works perfectly in debug mode. but it is not working in release mode.
i have attached below the expected and observed outputs of the application kindly help me in resolving the issue.

This is what i get in release mode. i am unable to see the outputs.
![Screenshot (150)](https://user-images.githubusercontent.com/48102705/87962825-6df7748

[2020-07-20 15:27] akshat102 commented on #54
kindly refer to this issue stated above. it is for ar core flutter plugin

[2020-07-20 16:38] akshat102 commented on #54
Outputs of my flutter doctor -v command is as follows:

C:---------\AndroidStudioProjects\ar_core_example>flutter doctor -v
[√] Flutter (Channel stable, v1.17.3, on Microsoft Windows [Version 10.0.18362.959], locale en-IN)
• Flutter version 1.17.3 at C:\flutter
• Framework revision b041144 (7 weeks ago), 2020-06-04 09:26:11 -0700
• Engine revision ee76268252
• Dart version 2.8.4

[√] Android toolc

[2020-07-21 16:30] frelei opened #55 "USDZ and GLTF load from network"
Hi,

is it possible to load from the network, store the usdz and the gltf and pass the path or object to the library to render on the ARKit or ARCore to display it?

[2020-07-22 11:05] akshat102 commented on #54
??

[2020-07-25 07:36] omaremad166 opened #56 "Textures doesn't load "GLTF""
I downloaded some 3d models ".gltf", when I render anyone one of them with textures it doesn't load textures, only a white object!

[2020-07-25 16:40] imvalient commented on #5
Hello,

I had the same issue, make sure you have set OpenGL API Level to "Render  Maximum" value by default.

![image](https://user-images.githubusercontent.com/5587234/88461729-4d993280-cea6-11ea-9269-5c7092101f88.png)

[2020-07-30 07:56] ManuLpz4 opened #57 "App crashes at startup"
My app crashes at startup trying to render a sphere with earth texture on a POCO F1 :(

<details>
  <summary>flutter doctor</summary>

[√] Android toolchain - develop for Android devices (Android SDK version 28.0.3)
[√] Android Studio (version 3.5)
[√] VS Code (version 1.47.3)
[√] Connected device (1 available)

</details>

<details>
  <summary>Debug console log until crash</summary>

Formato de p

[2020-07-31 05:04] GokulDas027 commented on #50
It's an ARCore Requirement, ARCore doesn't supports API < 24

[2020-08-06 06:09] mzmmoazam opened #58 "Need Documentation"
This is a good plugin and I think to make it better documentation is necessary.

[2020-08-10 21:56] NoisyBoyII opened #59 "Got error while build apk"
FAILURE: Build failed with an exception.

* What went wrong:
Task 'assembleAarRelease' not found in root project 'arcore_flutter_plugin'.

* Try:
Run gradlew tasks to get a list of available tasks. Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

BUILD FA

[2020-08-11 08:20] YessineAmor commented on #42
+1. Having the same question here. Also, how can we import 3d models from a web link?

[2020-08-11 09:56] YessineAmor commented on #28
@alterdieg0 could you please explain how to apply the changes to the plugin after changing from GLTF2 to GLB?

[2020-08-11 12:54] alterdieg0 commented on #28
@YessineAmor well, at least in the version of flutter I used that time you had to first import the package as it comes, then try to access the .kt files searching it in your files or through accessing the definitions of some of the classes that comes with the package such as ArCoreReferenceNode in your ide, and just editing the code I said and saving it, since the package is already imported in yo

[2020-08-17 09:18] egemolu opened #60 "Image recognition"
Hello giandifra,
Currently, Does it possible to recognize and track images in flutter with your package? I have a project which is working on iOS. I need to scale it to Android.

Thanks

[2020-08-24 09:41] dariocavada commented on #60
The functionality is not mentioned in the documentation, but there is one example.
You can use single image, multiple images or the `imgdb` database generated with the arcore img tool:
`https://developers.google.com/ar/develop/c/augmented-images/arcoreimg`

The augmented images example:

`https://github.com/giandifra/arcore_flutter_plugin/blob/master/example/lib/screens/augmented_images.dart`

[2020-08-24 09:42] dariocavada commented on #59
Have you solved this ?

[2020-08-26 07:58] pagach commented on #43
Does you device support arcore? Had the same problem but it worked on a newer device.

[2020-09-07 05:09] chatorn-ketsom opened #61 "[Question] Is showing a video playback upon image detection supported?"
I'm currently working on a flutter project with a requirement to implement AR for retrieving products' information as video playback. I'm quite new to both flutter and AR, espcially the latter. So I was wondering if this plugin supports what I will do? And if it does, I would appreciate if you could provide an example or a tutorial about it. Thank you.

[2020-09-07 06:10] #5 closed

[2020-09-10 08:04] AlinaStepanova opened #62 "Possibility to show regular Flutter widgets"
Hi, @giandifra!
First of all, I would like to thank you for your hard work on this plugin, it works really great!
I have a question that is related to an augmented images part of the plugin. Is there a way to show a Flutter widget as node (such as Container, Text, Image, WebView, etc.) after an image was recognized instead of showing a shape?
Thanks for your answer in advance, have a nice day!

[2020-09-11 03:10] BrutalCoding commented on #40
Try again with this PR that I just submitted:
https://github.com/giandifra/arcore_flutter_plugin/pull/63

You can specify a specific commit and git repo in pubspec.yaml. If you want to use my fork, which also has this fix, you can do the following:
[code]

[2020-09-11 03:12] BrutalCoding commented on #43
I've submitted a PR that might fix this issue, try again with that.
See my previous comment.
https://github.com/giandifra/arcore_flutter_plugin/issues/40#issuecomment-690846985

[2020-09-11 11:57] giandifra commented on #62
Hi, I must investigate about this, I think that it's possible.
I hope to find time to work again to this library, maybe i can start next week!
Thank you

[2020-09-16 14:49] #60 closed

[2020-09-20 17:44] J4ckTh3R1qp3r opened #65 "Make onTap event work for ArCoreView inside GestureDetector widget"
Hey! Thank you for your plugin!
I am currently building the prototype app for Google Glass and the problem is that Glass UX requires to have a tap event in construction like this:
...
child: GestureDetector(
   onTap: () => someFunction(),
   child: ArCoreView()
),
...
I need it to call for app menu and I see no other way (swipes already taken to change ArView to another view) to make this happen.

[2020-09-21 04:54] BrutalCoding opened #66 "[Feature request] Add new shape 'ARCorePlane'? Add (png) image as material for ARCorePlane to display an image"
Hi,

Could anyone (or @giandifra himself) see if they can expand the current shapes (cube, cylinder, sphere) with a 'plane'? I would like to display an 2D image. Right now I'm showing a flat cube with the image as its texture, but it has a white reflectance that I can't get rid of.

When using a (flat) cube with certain png's as its texture, I'm getting "Unhandled Exception: PlatformException(erro

[2020-09-21 11:55] hussamDana92 opened #67 "Load .sfb file from Device Storage"
Hi
I can create .sfb file by using "com.google.ar.sceneform.plugin".
So I want to copy these files into my android storage folder.

[code]
How can I load the 3D file from my own folder and render them in my app?
Thanks

[2020-09-22 09:55] Petroni opened #68 "Vertical Plain Detection"
Hi, I am currently experimenting with your plugin that by now is giving me good results on horizontal plains. Is it possible to add the new feature added with arcore 1.2 that allows to set it for vertical plain detection, as at the moment it seems to be very difficult or the app to recognise vertical plains.

On a different note, I was looking into the plugin code and found that in lib/src/arcore_

[2020-09-24 03:21] rishikeshkchapekar opened #69 "Object and environment interaction functions not working"
I have a basic AR app with Flutter, which I made following some tutorials. I am trying to do some actions when the `arCoreController.onNdeTap` and `onPlaneTap` are triggered. But it doesn't seem to work. The code shows no errors, but nothing happens when I tap the node or the plane.

[code]

What can be the problem?

[2020-10-02 03:54] solomora opened #70 "AAB error in google play."
I want to upload to google play an android application bundle but I get an error

[2020-10-08 08:07] Gorodetskaya-Mariia opened #72 "[Question] Is it possible to get the virtual camera pose in world space for rendering AR content onto the latest frame in flutter project?"
Thank you for great plugin! I try to use it in a flutter project and I want to get the virtual camera pose in world space for rendering AR content onto the latest frame.  It is possible with java: https://developers.google.com/ar/reference/java/com/google/ar/core/Camera#getDisplayOrientedPose() . I can receive a pose only when I tap on the plane. Can I get the virtual camera pose during moving in

[2020-10-08 11:33] #69 closed

[2020-10-08 11:34] rishikeshkchapekar commented on #69
It was an error on my part

[2020-10-08 11:39] rishikeshkchapekar opened #73 "'scale' property of ArCoreReferenceNode doesn't work"
**Code:**

[code]

**Issue:**

The object is too big, so I'm trying to scale it down to 10% of the size. But `scale: vector.Vector3(0.1,0.1,0.1)` does not work. The object doesn't get scaled. Tried for multiple values, but the object remains the same size.

Also tried it for various objects.

[2020-10-12 09:11] giandifra commented on #66
Hi, I try to implement this feature in this week!

Thank you

[2020-10-13 06:12] BrutalCoding commented on #66
Looking forward to it!

[2020-10-15 17:33] waheed11 opened #75 "AutoDetectPlane makes the app freezing and crashing"
AutoDetectPlane makes the app freezing and crashing.

I think that's because _handleOnPlaneDetected(ArCorePlane plane) method is called every build and plan detection.

I change "enableUpdateListener: true,"  to false, but the problem still not fixed.

[2020-10-16 01:57] sebaav12 opened #76 "Is it possible to implement cloud anchors?"
Thank you for your work.

[2020-10-17 13:57] giandifra commented on #66
I'm releasing new version...

You can add image now:

[code]

[2020-10-17 14:12] giandifra commented on #62
I don't try, but you can transform widget to image and send bytes so ArCore plugin now. You can use ArCoreImage to send 2D image. I released now new version with this feature.

[2020-10-18 12:52] rishikeshkchapekar opened #77 "How do I change size of an object during runtime?"
I understood from the examples how to change material properties.

```spherenode.shape.materials.value = materials```

But now I want to be able to control the size of my node (in my case, a sphere). How do I do that, since ```spherenode.radius``` isn't a valid function and radius doesn't fall under material either

[2020-10-19 17:32] AlinaStepanova commented on #62
Hi @giandifra!
Thanks for your efforts, I will have a look.

[2020-10-20 01:27] BrutalCoding commented on #66
Tested it and can confirm it works flawlessly! Closing this issue now. I'll sponsor you today 👍

[2020-10-20 01:27] #66 closed

[2020-10-20 02:46] BrutalCoding commented on #53
Check out this PR https://github.com/giandifra/arcore_flutter_plugin/pull/79

[2020-10-20 02:47] BrutalCoding commented on #28
I've made a PR for this issue here https://github.com/giandifra/arcore_flutter_plugin/pull/78

[2020-10-20 02:51] BrutalCoding commented on #70
Please clarify because I've made an .aab version as well with a complex Flutter app + this plugin, it uploaded without issues and users are able to download it.

[2020-10-20 02:55] BrutalCoding commented on #28
This only works if you work alone and on the same machine every time. What you should actually do is fork this plugin, change the pubspec.yaml to reference your forked repo and of course change the code inside the repo itself. Now everyone will have the same plugin in your project.

E.g.
arcore_flutter_plugin:
    #path: ../arcore_flutter_plugin
    git:
      url: https://github.com/alterdiag0/ar

[2020-10-20 03:06] BrutalCoding commented on #6
Hi @tonyshkurenko,

Check out this PR https://github.com/giandifra/arcore_flutter_plugin/pull/78 that I just made.

In my use case, I download a remote .glb file, cache it myself, and use that cached path as object url.

For example:
[code]

The downloadFile() method checks if there is a cached version available on disk and returns the path to that file, else it will download the file first, cache

[2020-10-20 03:09] BrutalCoding commented on #50
Please close this issue @msndvlpr if your question got answered

[2020-10-20 08:48] giandifra commented on #53
I will upload new version on pub.dev in a few days.
Thanks @BrutalCoding

[2020-10-20 08:48] #53 closed

[2020-10-20 08:50] giandifra commented on #28
I will upload a new version on pub.dev in a few days!
Thanks @BrutalCoding for #78

[2020-10-20 08:50] #28 closed

[2020-10-20 08:51] #6 closed

[2020-10-29 14:55] rafroes1 opened #80 "Getting face mesh and face vertices"
I was wondering if it is possible to get all the face vertices, distances between them and theirs X, Y, Z positions.

So far I have been working with ArCoreFaceView and its controller, but the only thing I could do so far is to load textures on the face. What I'm looking for is to get the face geometrics.

I have previously worked with native android and there is a class in ArCore named AugmentedF

[2020-10-30 17:55] diickens opened #81 "FaceMesh from examples has black background instead of being transparent"
When i run the example app there are black backgrounds around the ears and the nose. Known issue?

Best regards

[2020-10-31 09:10] subhashDev11 opened #82 "todo : handle null exception"

[2020-11-01 23:57] ljmatan commented on #31
Ever got this taken care of?

[2020-11-03 06:15] #82 closed

[2020-11-14 13:37] pagach opened #85 "Issue loading gltf model"
Hi,
I'm having issues loading my local gltf model.
I get an error:
Unable to load Renderable registryId='emoji0.gltf'
E/ModelRenderable(13531): java.util.concurrent.CompletionException: java.lang.AssertionError: No RCB file at uri: emoji0.gltf

Example model can be found here https://digital-reality.hr/sites/default/files/emoji0.gltf

It's not really plugin related cause some other models do work

[2020-11-16 18:09] deepikadt commented on #58
Require documentation for this plugin as not everybody is aware of the terminologies of AR libraries. I am also trying to understand it by trying every other method and reading android ar-core library. Good plugin though.

[2020-11-19 10:39] francescopasin opened #86 "Enhancement: insert 2d "objects""
Hello, I have a suggestion for your package. It will be useful to have a way to insert simply 2d objects in the scene. For example I need to insert a point and a text in the view and currently the only way to achieve this is to insert a plane and apply a specific texture to it. Maybe there could be an Ar2dNode that uses canvas to draw something in a specific point. Or maybe a way to get the screen

[2020-11-19 15:46] Since55 opened #87 "Issue with object rotation by x and z axis"
After rotation on x-axis object shifting forward and down.
After rotation on z axis object shifting left and down.

*final node = ArCoreRotatingNode(
      shape: ArCoreCube(
        size: vector.Vector3(1, 0.02, 0.4)
      ),
      position: vector.Vector3(0,0,0),
      rotation: vector.Vector4( sin(angle*pi/360), 0, 0, cos(angle*pi/360)),
    );*
photos with rotation 30°, 90°, 45°.
Both planes a

[2020-11-21 13:49] Manhal1994 opened #88 "translate 3D objects"
I have task where i should move the 3D object in the AR scene by reacting to user gestures.
in ARCore for android there is Transformable Nodes where can do the job.
is there somthing similar in flutter

[2020-11-22 21:25] giandifra commented on #88
Hi, I'm start to working to this task today. You can try using #89 branch

[2020-11-22 22:15] giandifra commented on #81
This is an error of sceneform plugin when build 3d object!

[2020-11-22 23:55] giandifra commented on #77
I'm working to transformable node, you can see #89

[2020-11-23 00:08] giandifra commented on #51
Hi, Yes Sceneform is Archived!
For now i continue to improve this plugin using Sceneform waiting news about!
Now I'm working on #89 to improve usability of plugin.
All help is appreciated
Thanks

[2020-11-23 00:08] #51 closed

[2020-11-23 00:09] giandifra commented on #49
Yes, I'm working on #89 to improve all basic functions

[2020-11-23 00:09] #49 closed

[2020-11-23 04:05] rishikeshkchapekar commented on #77
ok great!

[2020-11-23 04:05] #77 closed

[2020-11-24 15:07] basharkousa opened #90 "Material double sided attribute doesn't exist in ArCoreMaterial class."
When working with Sphere 3D object, I need to deal with  double sided attribute, but doesn't exist in the ArCoreMaterial class, so i've extend the ArCore Material class and add the double sided attribute as shown below, and pass a custom class object  to the ArCoreSphere's material attribute, but the inner side of  the sphere still transparent.

[coustom_ar_core_material.txt](https://github.com/gi

[2020-11-25 19:29] giandifra commented on #88
You can transformable_node branch for now. Follow #89

[2020-11-25 19:29] #88 closed

[2020-11-25 19:30] giandifra commented on #73
Try transformable_node branch and follow #89

[2020-11-25 19:30] #73 closed

[2020-11-26 10:53] NemesisX1 opened #91 "Is here a docs ?"
Hello, I would like to know if outside the current project you had a roadmap and explicit documentation.

[2020-11-26 22:11] giandifra commented on #91
Nope, but I can work on documentation after the refactoring that I'm doing with transformable_node #89
There is some change respect the actual version

[2020-11-26 22:12] giandifra commented on #87
Sorry I don't understand, you can try transformable_node branch #89 , I revisit the rotation mode of node

[2020-11-28 07:26] Significantinfotech2020 opened #92 "Images could not load, How to fix it?"
@giandifra

I want to display image in AR display, but it does not load on the screen when AR camera turn on. I used below snippet to load image. If I made mistake in this snippet, then please suggest me.

[code]

[code]

[code]

This the log which I get on terminal when AR Camera opens.

[code]

[2020-11-28 12:35] giandifra commented on #92
This line not return image bytes

`List<int> list = 'https://picsum.photos/250?image=9'.codeUnits;`

You must download image and read bytes!

[2020-11-30 16:39] francescopasin opened #93 "Position and Scale value notifiers on ArCoreNode don't update nodes position/scale"
Currently it's not possible to update the position (or scale) of a node at runtime (like with materials). That values are wrapped in a ValueNotifier so shouldn't they redraw the node when changed?

[2020-12-01 09:15] #93 closed

[2020-12-07 05:21] qoo1476 opened #94 "Seems like removeNode does not work"
hello thanks for your great job. this library is so wonderful

but one thing that i think maybe something wrong with [removeNode] method.

check my screenshots and tell me if i use this method in wrong way or is this some bug?

i followed your example. but it never remove my node.

![image](https://user-images.githubusercontent.com/68536972/101312532-560f6a00-3897-11eb-9a10-2e6e59ea6f4a.png)

[2020-12-07 05:22] qoo1476 commented on #94
plus my plugin version is 0.0.10

[2020-12-07 20:51] MrRedbloX opened #95 "Cannot display animations"
Hi,
I have been searching a way to play animations from .fbx files and I believe it's not handled on this plugin yet.
So I decided to look at the code and I added the feature.
Is there any way that I can show you what I have done I think it can be usefull for others.
Thanks.

![animation_demo](https://user-images.githubusercontent.com/32101242/101404006-524f0800-38d6-11eb-807e-2e8292ddfd37.gif)

[2020-12-09 03:39] sayurikunugi opened #96 "onPlaneTap returns empty list"
Hello. Thank you for the great plugin.
I ran the example folder project, almost everything worked fine, except for detecting taps.
`Custom Anchored Object with onTap` page, no objects shown when I tapped the camera screen.

I added below log in `_CustomObjectState. _handleOnPlaneTap`, and the result of `hits?.length` was 0.

[code]

How does it supposed to show the object?
Thank you in advance.

[2020-12-09 07:34] Kretin1 opened #97 "Extracting FREAK descriptors slow for multiple images"
After I load multiple images to the controller, there is a very slow process for each image:
cpu_feature_extractor.cc:91 Extracting FREAK descriptors

This doesn't occur when I use an augmentedImageDatabase.

I tried caching the ArCoreView (and controller) so it doesn't need to reload the images each time it opens. But every time it opens it still creates the FREAK descriptors, each of which pause

[2020-12-14 16:10] #91 closed

[2020-12-17 09:28] BrutalCoding commented on #85
I haven’t tried out your model but as you say, some models seem to work. Can you try to open the model in Blender and export it through there in gltf? See if that makes any difference.

[2020-12-17 09:30] BrutalCoding commented on #70
Hi @solomora were you able to solve the problem?

[2020-12-17 09:34] BrutalCoding commented on #67
I was having many issues trying to get sfb to work. It also seemed outdated. You can load local .glb files but I believe those don’t support animations.

I could be mistaken since this is from my memory as it was like a few months ago. So if you don’t require animations and are able to get a .glb file of your 3d model then give that a try.

[2020-12-17 09:38] BrutalCoding commented on #56
The gltf file is referencing to its textures, make sure that you have those as well.

If you open the gltf file as plain text you should be able to find what png's/jpg's its trying to load, it could be something like “materials/mytexture.png” and it that case you have to make sure you got a “materials” folder with that png, this materials folder should be inside the same folder where you saved the

[2020-12-21 13:06] RobinLbt commented on #72
I also need to get the camera pose for my project

[2020-12-22 20:56] rlazom opened #98 "New feature: Add marker-based AR"
First of all, I like to say awesome job on the arcore_flutter_plugin.

The idea for this new feature is Instead of get the plane and place an object when the user click it, just recognize a given marker and place over it an object.

[2020-12-22 21:01] rlazom opened #99 "New feature: Geo-positioned AR Object"
The idea of this new feature is to place an object on a given geocoordinates an show it in the ARCoreView when the user points the camera in this position.

Could be convenient also take into account the minimum distance to show the object.
Thanks

[2020-12-23 12:32] RobinLbt commented on #99
I've worked on it for a few days and managed to get something that works.
I need further testing though !

Here is how I've done it:

ARCore coord system is different each time. This is the main challenge when working on geo-positioned AR object.
Basically, we need to find the true north at a starting point for placing everything.

- Convert the GPS coord (lat/long) to cartesian coord (look at UTM

[2020-12-23 12:34] RobinLbt opened #100 "Object always facing the camera"
Is this possible to place a object in the scene and that this object is always facing the camera ?

[2020-12-23 18:47] dbrunonascimento commented on #80
@rafroes1 I'm looking for something similar.

[2020-12-24 16:09] #100 closed

[2020-12-31 20:08] EliasDolinsek commented on #76
Will this feature be implemented any time soon?

[2021-01-06 18:02] engor opened #102 "[v0.0.10] Can't compile ArCoreView.kt"
there is
[code]
in ArCoreView.kt, but Activity must not be nullable here.

[2021-01-10 10:13] jainet opened #103 "Is “arcore_flutter_plugin” not compatible with the latest “ARcore SDK for Android (Ver1.22.0)”?"
It was successful in Ver1.11.0.
Is there any other way to run arcore on flutter?

Details are given here.
https://stackoverflow.com/questions/65652010/is-arcore-flutter-plugin-not-compatible-with-the-latest-arcore-sdk-for-androi

[2021-01-14 21:05] harriseldon commented on #102
I just got the same issue.
arcore_flutter_plugin-0.0.10/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreView.kt: (241, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@NonNull p0: Activity, @Nullable p1: Bundle?): Unit defined in android.app.Application.ActivityLifecycleCallbacks

[2021-01-15 15:35] engor commented on #95
Hi, @MrRedbloX ! Can you share your code with animations? Via repository fork or so ?

[2021-01-15 18:17] MrRedbloX commented on #95
Hi @engor, I have created a pull request.

[2021-01-18 02:04] engor commented on #95
@MrRedbloX thanks! :)

[2021-01-18 14:06] bestkid1234 opened #105 "Code example with showing an animation in scene"
Hi! I really appreciate your work here! But as I am new to AR I wonder if you could provide an exemple code about how to display an `*.fbx` animation in scene with your package? Or any kind of animation file would be fine.

Thank you!

[2021-01-19 15:03] ernonemacher commented on #102
Same here

`: /Users/eduardo/Developer/flutter/.pub-cache/hosted/pub.dartlang.org/arcore_flutter_plugin-0.0.10/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreView.kt: (241, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@NonNull p0: Activity, @Nullable p1: Bundle?): Unit defined in android.app.Application.Activ

[2021-01-21 15:07] ernonemacher commented on #92
bytes = await (rootBundle.load("assets/augmented-images-earth.jpg"))
        .then((value) => value.buffer.asUint8List());

Hey, I'm taking the bytes this way and I can't make it work either

[2021-01-22 10:24] giandifra commented on #92
This is wrong. Have you understand how work future/await ?

Try this:
[code]

[2021-01-22 10:24] #92 closed

[2021-01-22 12:08] ernonemacher commented on #92
Well, it's not wrong. debugging the code I could see that the value of de var was filled. But I solved the problem aniway.

Hey Significantinfotech2020, try using the example for [AugmentedImages](https://github.com/giandifra/arcore_flutter_plugin/blob/master/example/lib/screens/augmented_images.dart), and after you understand the example you can try customizing. In my case, since this lib has no

[2021-01-22 12:51] giandifra commented on #92
Ops, sorry....i didn't see `()=>` inline return syntax

[2021-01-26 08:37] skylastn opened #106 "is it possible to use Augment for video bro?"
i have an project to display video AR in flutter.

[2021-01-28 08:27] Anurag-Pola commented on #90
Is there any way through  which we could add the double sided feature now? @giandifra @basharkousa

[2021-01-30 01:03] #103 closed

[2021-01-31 21:13] Yacine-Benali commented on #18
@giandifra I would love to know if there is any update on this one, as it would be great to have the plugin be cross-platform.
thank you for the great work, am very grateful for it

[2021-02-01 08:26] giandifra commented on #18
Hi, it's not into my todo list for now, i'm very busy! I think there will be changes about ArCore native SDK...maybe is better waiting to implement last native sdk.

Thanks

[2021-02-01 09:04] dariocavada commented on #18
@Yacine-Benali I use both ArCore for Android and https://pub.dev/packages/arkit_plugin for iOS.
I created 2 Screen (one for Android (ARCoreScreen) and one for iOS (ARKitScreen) and then I show one or the other view according to the platform ... obviously ARCore and ARKit are different and therefore it is necessary to create the two implementations in a different way.

The following snippet check i

[2021-02-01 18:13] Yacine-Benali commented on #18
@dariocavada yes thats what I was thinking of doing, the thing is that I am using ARcore for face tracking and ARkit face tracking only supports iPhone X and later and I wanted to support some older models, most probably will end up creating a native screen within the flutter app but I got to learn some swift first.
anyways thanks for the code snippet.

[2021-02-03 20:04] kashyappiyush1998 commented on #105
Please do this !

[2021-02-06 16:50] godzyken commented on #102
i facin the same issue in version -> arcore_flutter_plugin: ^0.0.10,
should we make changes in the compilation options, because I only compile in java, that is to say that I did not generate files in a tree structure like: kotlin/src/main/Activity.kt ?

Or do we need to modify this file in order to abstract the object that causes the problem?

[2021-02-06 20:16] matwright opened #107 "How to set the initial scale of a ArCoreReferenceNode"
Hi
This is a question rather than an issue; as I assume I am doing something wrong.

When I set the intial scale of a ArCoreReferenceNode is has no effect.
I would have expected this constraint to be relative to the Extent width/length of the plane [described here](https://developers.google.com/ar/reference/java/com/google/ar/core/Plane#getExtentX) and which I assume ARCore uses to calculate a pos

[2021-02-07 14:37] matwright commented on #107
I was able to resolve this via the GLTF file directly. As such, I'll close this issue.

[2021-02-07 14:37] #107 closed

[2021-02-10 06:54] yasalkhatib commented on #61
Any update on this issue?

[2021-02-10 11:47] tomalabaster commented on #102
I had to clone the repo and make the following changes. **Disclaimer:** I've not written Kotlin in-depth enough to know of the wider implications of these...

1. Add the following imports to `ArCoreView.kt`:
[code]
2. Change line 244 to read:
[code]

[2021-02-10 12:16] tomalabaster commented on #50
It should in fact support older SDK versions, check out [ARCore supported devices page](https://developers.google.com/ar/discover/supported-devices#google_play) and it lists the SDK requirements.

The minimum SDK constraint shouldn't be set to 24 IMO, it should be lower, the link above says as low as 14, because of the optional vs required declaration (and this should be set at an app level, not a

[2021-02-11 16:13] balthier82 commented on #68
News on this enhancement?

[2021-02-18 12:22] Youssef-Tarek-Tewfik opened #108 "Is there a way to display 3D Text?"
I read the docs but I didn't find anything relevant to what I need.
Is there a workaround with possibly displaying images instead? I'll have my text paragraphs as images for that if it'll work.
Also I read that Sceneform is deprecated, so will I still be able to achieve what I need nonetheless?
Thanks in advance, and thank you for the amazing plugin

[2021-02-23 10:13] jordynympasor opened #109 "Device Compatibility"
"this device does not support AR"

im using a Pixel 3XL API 30 emulator

tried with other emulators, can install arcore from google playstore but when app is running. displays not supported.

also tried with my phone, but arcore is not supported for oppo a20

E/native  (11133): ################ ARCore Native Error ##################
E/native  (11133): BUILD_CHANGELIST:356413513
E/native  (11133):

[2021-02-23 10:13] jordynympasor commented on #102
this really worked for me. thanks

[2021-02-23 10:18] godzyken commented on #102
I followed your instructions, and it seems that it works well, I have no more errors, thank you for your answer.

[2021-02-23 11:18] jordynympasor commented on #109
apparently it isnt compatible with api 30.

i worked with api 29

[2021-02-23 11:18] #109 closed

[2021-02-23 11:26] iagognunes opened #110 "How to move a 3D Model?"
Is it possible to move a 3D model just by touching the screen? I searched on google for a long time and I couldn't find anything about it.

[2021-02-24 22:34] clarksoc opened #111 "Google Play Services for AR Infinite Loop on Android 11.0"
Whenever this plugin is used on a phone running Android 11.0, the ArCoreController.checkIsArCoreInstalled() will always return false even when the ARCore is installed.

Has this plugin not been updated for 11.0? If so, is there a planned release?

Trying to run an application on a Samsung Galaxy S20 Ultra 5G

[2021-03-01 13:58] sciphergfx opened #112 "ArNode does not support animation?"
Has this plugin not been updated to support animating .glb files?

[2021-03-04 19:27] RobinLbt commented on #54
@iakshatbisht did you found a solution ? I'm experimenting the same problem. Working fine in debug mode but not in release

[2021-03-04 19:46] RobinLbt commented on #54
It seems to be a problem when you use a image in a ARCoreNode.
When using simple shapes, it works in release mode (I've just tried it)
As soon as I use bytes for images, it doesn't work.
Here is the output I get in release mode :
`E/flutter (27041): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: LateInitializationError: result
E/flutter (27041): #0      _LateInitializationError.

[2021-03-04 22:05] RobinLbt commented on #54
Ok after a lot of testing I've found the problem.
Nothing to do with this plugin, it was because I was calling `boundary.debugNeedsPaint` in release mode.
You need to remove this call or to check before calling it in which mode you are at runtime with :
`if(kDebugMode)`

[2021-03-05 23:22] #57 closed

[2021-03-16 14:15] leeprobert commented on #98
+1 for markers! :-)

[2021-03-20 15:02] yusriltakeuchi opened #115 "How to updating Node?"
I place my node into plane and want to update the scale, but why not getting any effect in my node?

This is my code.
[code]

[2021-03-24 16:58] sibylantoninobajeli opened #116 "java.lang.ClassNotFoundException: Didn't find class "com.google.ar.sceneform.assets.Loader""
The test examples are not working on Pixel 5.

I continuously get:

 java.lang.ClassNotFoundException: Didn't find class "com.google.ar.sceneform.assets.Loader" on path: DexPathList

Entire log:`FATAL EXCEPTION: main
E/AndroidRuntime(26706): Process: com.difrancescogianmarco.example, PID: 26706
E/AndroidRuntime(26706): java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/ar/sceneform/

[2021-03-29 09:44] marcoramosw opened #118 "Updates"
will this package get any updates?

[2021-04-05 07:34] nikiforosper opened #119 "Will this package be updated to support fbx animations?"
I can't find a way to display animations of an animated fbx file

[2021-04-07 02:58] BrutalCoding commented on #102
Is this issue resolved? If so, can @jordynympasor or someone else add a PR and link it here?

[2021-04-07 02:59] BrutalCoding commented on #85
@pagach did you fix the issue?

[2021-04-07 03:09] BrutalCoding commented on #95
Issue can be closed since you've made the feature yourself and contributed it as PR. Many thanks, I hope it gets reviewed and accepted 👍

[2021-04-07 06:41] #95 closed

[2021-04-07 06:50] pagach commented on #85
No, not yet. But i'll close this issue since it's not really plugin related.
thx

[2021-04-07 06:50] #85 closed

[2021-04-07 08:51] rubenteste opened #120 "Memory limit bug multiple views"
i'm running arCore on android, it works, but if i reopen multiple times the arcore plugin crashes because of memory problem
i'm trying to call dispose and/or similar function to end the plugin every time i leave the page but not found a solution:

How fully kill an ARcore Scene?

[2021-04-08 18:06] aleonnet opened #121 "Object anchor/tracking qrcode"
Hi @giandifra
Amazing plugin, congrats.
I'm new to AR. I was just wondering how can I use your work to add this kind of feature(https://www.youtube.com/watch?v=-wgf6Zvn6rg) to an App. Will it be possible?

Thanks.
Alessandro

[2021-04-11 20:40] leoduckcd opened #122 "Support for .gltf / .obj objects"
Since the Sceneform plugin is not longer supported in Android Studio and you therefore can't convert a 3D-object into a .sbf file, is there any possibility that you could use a .gltf or .obj object instead?
There is a Maintained Sceneform SDK for Android (https://github.com/ThomasGorisse/sceneform-android-sdk) which supports the glTF format, how can you implement it in your flutter project?

[2021-04-13 07:58] wiizarrrd opened #123 "Position Listener doesn't update the position (degreesPerSecound and material works)"
Position Listener doesn't update the position (degreesPerSecound and material works) :/

v 0.0.10

[2021-04-13 13:48] wiizarrrd commented on #115
there is probably no Listener implemented in ArCoreView.kt

[2021-04-13 13:55] wiizarrrd commented on #123
Update Position is not part of this plugin (yet)
Here is how I fixed it:
just edited ArCoreView.kt:

ln 19: import com.difrancescogianmarco.arcore_flutter_plugin.utils.DecodableUtils.Companion.parseVector3
ln 185: updatePosition(call,result)

uncomment function updatePosition at ln 571

[2021-04-13 13:55] #123 closed

[2021-04-15 09:14] yusriltakeuchi commented on #115
so we must always clear and add again when updating node?

[2021-04-15 15:13] busterbogheart commented on #80
Any updates on this?

[2021-04-15 15:19] matwright commented on #122
Remote gltf works fine.

user `ArCoreReferenceNode` and the `objectUrl` parameter to your gltf file.

[2021-04-15 22:52] busterbogheart commented on #102
I found this issue just attempting to build out using 0.0.10.

Full error:
`e: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.10\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (241, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@NonNull p0: Activity, @Nullable p1: Bundle?)

[2021-04-16 00:19] busterbogheart commented on #108
I'd also be interested in this.... anyone still developing this?

[2021-04-16 00:27] busterbogheart commented on #102
Also the proposed fix above compiled with the same error (except pointing to different line numbers, indicating the file was changed)

[2021-04-16 15:32] leoduckcd commented on #122
How could I store the .gltf file locally?

[2021-04-17 09:57] matwright commented on #122
maybe try a local http server like https://pub.dev/packages/local_assets_server
let me know if you get it working.

[2021-04-18 10:01] RobinLbt opened #127 "Invisible plane blocks ARCoreImages"
Hello,

I've found a problem with **ARCoreImages**.
When nodes are added with **addArCoreNode** method, there is an invisible plane blocking the images depending on the angle of the phone camera.
Some images might be completely invisible, some doesn't suffer from this problem, and some are partially blocked, when you move the camera you can see the invisible plane blocking the image

Here is an ex

[2021-04-19 01:33] iscojin commented on #102
Anyone solved this issue?

[2021-04-19 02:16] iscojin commented on #102
It doesn't work for me. Someone can help me?

[2021-04-19 20:21] busterbogheart opened #128 "Unable to load 3d model in ArCoreFaceView besides SFB"
I'm at the end of my rope here.  The goal is to use ArCoreFaceView and add custom 3d objects exported from Blender.  No animations required.  But I'm not able to load GLB, GLTF, OBJ, or FBX with ArCoreFaceController.loadMesh().

The example fox_face.sfb works (_but shows black where transparency should be_).  And we can't generate SFB/SFA models anymore.

1. What are the valid formats for a 3d obj

[2021-04-21 13:56] busterbogheart commented on #128
Is anyone knowledgeable about this?  Is it still being maintained?

[2021-04-21 15:10] busterbogheart opened #129 "Setup instructions don't match example's app/build.gradle"
Particularly with the Sceneform library:  the plugin instructions require adding the dependency as  `implementation 'com.google.ar.sceneform:core:1.8.0'`, but the example's build.gradle uses `apply plugin: 'com.google.ar.sceneform.plugin'`

Is there an updated usage guide?

[2021-04-24 18:57] sikandernoori opened #130 "ArCoreView.kt: (241, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated"
ArCoreView.kt: (241, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated

[2021-04-25 02:38] sikandernoori commented on #129
@busterbogheart Were You Able to Fix this ?

[2021-04-25 19:57] #130 closed

[2021-04-26 21:12] wiizarrrd commented on #115
Unfortunately yes and there was the problem for me, that there needs to be a small delay between the deletion and creation. Otherwise it could confuse those two steps.

You could also edit the plugin (listener in arcore-controller.dart + methods in arcoreview.kt) to make it work, have a look in here, how I did it for rotation and translation: https://github.com/giandifra/arcore_flutter_plugin/pull

[2021-04-26 21:14] wiizarrrd commented on #118
I hope so ... I made some pull requests

[2021-04-26 21:17] wiizarrrd commented on #122
I also use a local server. Can't you save the .gltf file as an asset and use this path?

[2021-05-02 11:31] yasamanbabaee opened #131 "How can I have the output as a file?"

[2021-05-04 13:31] wiizarrrd commented on #122
Here is my solution for local files:
Frame.glb is stored in the Flutter App und assets/Frame.glb and it is also declared in pubspec.yaml

2.nd :
String objectName= 'Frame.glb';
      String pathToObject;
      await for (var entity
          in Directory.systemTemp.list(recursive: true, followLinks: false)) {
        if (entity.path.endsWith(objectName)){
          print(entity.path);
          pa

[2021-05-04 13:33] wiizarrrd commented on #131
What do you mean with output?

[2021-05-04 13:38] wiizarrrd commented on #110
@iagognunes is this related to #115?

[2021-05-04 13:41] wiizarrrd commented on #108
@Youssef-Tarek-Tewfik @busterbogheart   you can display 3D Text, if you created an object for example in blender. I know it's static, but that is the best workaround and you have many options to play around with in blender.

[2021-05-04 13:45] wiizarrrd commented on #94
@qoo1476 I also had this problem and I found out why: There are race conditions with the invokeMethods (used for the communication between flutter and android).

So in this case, you need a small delay between add and remove to prevent the race condition.

[2021-05-04 13:49] wiizarrrd commented on #96
@sayurikunugi
If no plane is detected, hits will be zero, like you said. So you need this:
if (hits.isNotEmpty) {
      final hit = hits.first;
      [...]
}

[2021-05-04 14:41] iagognunes commented on #110
@wiizarrrd
Not exactly, but thanks for the tip.

[2021-05-05 04:21] Emex4gman commented on #130
@sikandernoori  how did you resolve this, am still getting this issue

[2021-05-05 04:23] sikandernoori commented on #130
Yes I did !

the Issue was with Null Safety !

Upgrade Your Code to Null Safety or a little Modification in Plugin.

I would recommend Upgrading Your Code to Null Safety.

[2021-05-05 04:24] sikandernoori commented on #130
Yes I did !

the Issue was with Null Safety !

Upgrade Your Code to Null Safety or a little Modification in Plugin.

I would recommend Upgrading Your Code to Null Safety.

[2021-05-05 04:27] Emex4gman commented on #130
@sikandernoori
I just did, and i ran flutter clean
but same error,
and the project is a new project, no other package

[2021-05-05 04:28] Emex4gman commented on #130
![image](https://user-images.githubusercontent.com/23434595/117097123-c7fdb980-ad38-11eb-9641-5fe4380af27b.png)

[2021-05-05 04:28] Emex4gman commented on #130
![image](https://user-images.githubusercontent.com/23434595/117097150-d946c600-ad38-11eb-973c-1e7b77d35de6.png)

[2021-05-05 04:30] sikandernoori commented on #130
Not Sure. Ping me @sikandernoori Skype and I can Take a Look.

[2021-05-05 14:54] #110 closed

[2021-05-07 06:43] JoelNadar-TheSorceror opened #132 "Execution failed for task ':arcore_flutter_plugin:compileDebugKotlin'."
I am new to flutter, and used this package for developing a AR application.
I followed this doc for [configuring Google AR core](https://developers.google.com/ar/develop/java/enable-arcore)

You can see my code [here](https://github.com/JoelNadar-TheSorceror/Augmented-Reality-in-flutter)

as you can see, I have not imported this package in my main.dart. I have not called it anywhere either. I've e

[2021-05-09 10:23] JoelNadar-TheSorceror commented on #132
I'm gonna keep this issue open until the owner published the next version, so people can reffer this if that happened in their cse

[2021-05-09 21:50] lukepighetti opened #133 "Null safety"

[2021-05-12 15:30] Sameerkash opened #135 "Remote .gltf/ .glb not working properly"
I have a very important project and I'm trying to integrate this package.
Not everything in the example project is working.

The feature I want the most is showing a remote object and .gltf/.glb.

The example duck shows, but our custom blender models are not working, I am not sure if I am doing something wrong, please help

Also, is this project under active development? I request the PR's be merg

[2021-05-12 18:27] eduardoGo commented on #95
Hi, @MrRedbloX , thanks for is amazing feature!

Can you help me? I'm not able to animate the FBX models ...

I'm just use:

[code]

the file skull.sfb is on `/android/app/src/main/assets`.
My skull.sfa:
[code]

The model appears, but the animation does not :(. Am I forgetting something? Can you send me any FBX and SFB files that you used?

[2021-05-14 07:46] engor commented on #95
Probably, it's necessarily to implement `Sceneform SDK version 1.16.0` as described here: https://github.com/google-ar/sceneform-android-sdk
My first attempt to do it failed. :(

[2021-05-14 14:46] eduardoGo commented on #135
Hi @Sameerkash, could you show your code?

[2021-05-14 15:35] eduardoGo commented on #135
I solved it using controller.AddCoreNode.

ArCoreReferenceNode don't work fine with controller.AddCoreNodeWithAnchor. This is a bug.

@giandifra

[2021-05-14 15:35] eduardoGo commented on #95
Hi @engor, I found the bug. The animations don't work with controller.NodeWithAnchor. I tried use controller.addNode and the animations work fine.

Remote objects also don't work with controller.NodeWithAnchor, just with controller.addNode.

@giandifra

[2021-05-15 07:01] giandifra commented on #135
This [issue](https://github.com/google-ar/sceneform-android-sdk/issues/506) report that we need to use RAW file like in duck remote url. Unfortunately there is another error, I'm investigating!

[code]

[2021-05-15 07:08] giandifra commented on #135
I tried [this]( https://github.com/ishaang10/models/raw/master/Chair2.gltf) remote object and it works also with `addArCoreNodeWithAnchor`

[2021-05-15 07:25] Sameerkash commented on #135
@giandifra , [this](https://github.com/Sameerkash/FoodMagic/tree/Pari/models/SeperateFilesGLTF) remote URL is not working, even after using raw URL format from Github, any idea?

[2021-05-15 07:56] giandifra opened #136 "What's the next step?"
Hi guys,

as you already know Sceneform is archived by Google (the project is open source), so it would be appropriate to decide which way to go in order not to spend too much time (perhaps useless).

In a new [branch](https://github.com/giandifra/arcore_flutter_plugin/tree/transformable_node) I have restructured the plugin to be more flexible by bringing new features.

But before spending some ti

[2021-05-16 02:01] eduardoGo commented on #136
Hello @giandifra, I think that rewriting the plugin with the new ArCore API is better ... The current version of the plugin has many things with Sceneform, so in the future it will be incompatible and the problem will be bigger since the plugin will have more resources ... (That's just my opinion...).

I am currently trying to implement a function in the Controller so that it is possible for us to

[2021-05-16 15:34] engor commented on #136
Hi. What I'm really need is supporting of .glb / .gltf animations.
It's possible by implementing sceneform 1.16.0 (works in native android app).
I tried to implement it by myself with no luck yet.
It's killer feature for me right now.

[2021-05-17 06:59] giandifra commented on #136
Yes, I think that rewriting is the good choice! The new ARCore API has a lot of feature and they are fully supported.

Yesterday, I started to migrate the plugin.

[2021-05-17 09:38] engor commented on #136
Please, provide me link to "new ARCore API".

[2021-05-17 09:41] giandifra commented on #136
For "new Arcore API" I mean the api used after that Google has archived Sceneform

[2021-05-17 09:42] engor commented on #136
Ahh, ok. :)

[2021-05-17 16:04] JoelNadar-TheSorceror commented on #136
hi @giandifra , How about creating a new feature that scans **any** 2d image and converts it to its 3d equivalent, I'm not from disney but disney research had achieved this. checkout their video on how they [make a 3d equivalent](https://www.youtube.com/watch?v=SWzurBQ81CM&t=31s)

[2021-05-18 11:48] rubenteste commented on #136
it is possible to  add functionality to rotate objects and change size? in arkit is possible but not here

[2021-05-20 10:01] ss896775 commented on #132
I am facing the same Issue. I am pretty new to App Development and I am having no Idea how to solve this.
Is This a Bug in the Plugin, or are my Project settings wrong?

[2021-05-22 14:22] wiizarrrd commented on #136
@rubenteste I've created a pull request to implement this (translation + rotation). Resizing is missing, but can be implemented easily

[2021-05-23 04:17] JoelNadar-TheSorceror commented on #132
A bug in the plugin,
It was presented in 0.0.10 but not sure if it persists in 0.0.11

[2021-05-24 04:49] JoelNadar-TheSorceror commented on #112
Apparently, no.

[2021-05-25 13:35] SavanRajyaguru opened #137 "Execution failed for task ':arcore_flutter_plugin:compileDebugKotlin'"
Hii, I am creating new flutter AR app . I set `minSdkVersion 24` in build.gradle

[code]

[code]

### When I run my app its shows me this error:

[code]

[2021-05-25 13:35] KyleKun commented on #135
Hey @Sameerkash , I was comparing the duck raw file with the one you're trying and looks like it was generated differently...

Look at the "generator", the duck file is "COLLADA2GLTF" and the one you're trying is "Khronos glTF Blender... ", and I also noticed that it has many characters at the end, which probably are not parsed (the duck file ends "clean" without these many characters).

Maybe it

[2021-05-27 11:40] ss896775 commented on #137
it is a Bug in the Plugin. I had the same issue and this worked for me:
https://github.com/giandifra/arcore_flutter_plugin/issues/132

[2021-05-27 22:50] alestry-perez commented on #137
I've had the same error, I ended up using a starter template https://github.com/iampawan/FlutterAR, just to get it up and running, and then migrated to embedding v2.

[2021-05-31 23:01] wiizarrrd commented on #136
@rubenteste unfortunately a change in the localScale of an object results into an uncontrollable rotation and obscure scaling of an object.
A working alternative is to await the removal of an objects and adding it again with the correct shape. However this takes so time to complete especially for complex objects

[2021-06-01 07:56] JoelNadar-TheSorceror commented on #137
I faced the same issue, And suprisingly once you have everything setup, asin the whole code for the execution including the ARcoreview creation and the node placement, this error vanishes. I updated from version 0.0.10 to 0.0.11 and saw my code running perfectly fine. The ? was present in the library, but it still worked. Not sure why, but you can run into this issue early on.
Perhaps to ensure nu

[2021-06-02 18:30] sikandernoori opened #140 "How to Change Material property of Custom 3D Object in ArCoreReferenceNode."
Hello @giandifra is there a way to change Color of 3D Object Children Node.

I am using 3D Model as per below Link and Code, I would Like to change Color of Object/children Nodes.

Is it yet to be Implemented ?

Model = [https://raw.githubusercontent.com/sikandernoori/Gltf/main/SatinPurpCar/Satin_Purp.gltf"](https://raw.githubusercontent.com/sikandernoori/Gltf/main/SatinPurpCar/Satin_Purp.gltf)

C

[2021-06-04 03:02] PeterTF656 commented on #136
Dear Giandifra, thank you for making this plugin! I saw an issue back in 2019 that asked about ios platform compatibility. Are you planning to make this plugin work with ios soon? I know people say ARKIT is the choice for IOS, but for some reasons, like in argumented face, developers would like both the android and ios platform to use the same face mesh...

[2021-06-04 04:34] JoelNadar-TheSorceror commented on #136
Hi @PeterTF656 , This may be possible in the future when iOS devices support [Google's AR Core](https://developers.google.com/ar), since arcore_flutter_plugin uses this plugin. @giandifra, my suggestion is to put some flutter code inside the plugin to check whether the device is android or iOS, depending on which it would use arcore or arkit. Thereafter, You can create 2 different codebases one fo

[2021-06-04 04:43] engor commented on #136
My proposal: make all native kotlin functions to execute in background thread (via coroutines or so).
This time we have app freezing and ANR, especially when loading image markers and loading models.

[2021-06-04 06:54] PeterTF656 commented on #136
I think google arcore has an ios compatible sdk, you can take a look at [this](https://developers.google.com/ar/develop/java/augmented-faces/developer-guide).

[2021-06-05 15:53] eduardoGo commented on #136
I finish. #141 :)

[2021-06-06 10:53] Sameerkash commented on #137
Getting same, tried everything with no luck
[code]

[2021-06-06 10:56] SavanRajyaguru commented on #137
I also tried everything but doesn't work

[2021-06-06 11:07] Sameerkash commented on #137
Fixed it by changing compileSdk and targetSdk from 30 to 29

Try this @SavanRajyaguru

[2021-06-06 14:07] giandifra commented on #136
I think that the best solution is rewrite the plugin and add ArCore sdk for iOS side. This solution will be the best from all points of view.

[2021-06-06 16:55] eduardoGo commented on #136
Yes... I found this project https://github.com/CariusLars/ar_flutter_plugin that support iOS and Android.

[2021-06-15 21:44] HadiIOS opened #142 "When will you update 'optional_arcore' branch with the new changes of master"
I assume optional_arcore is the null-safety branch, when will you update it
and is it safe to use it now?

[2021-06-19 16:54] Hamas-ur-Rehman commented on #137
I tried @JoelNadar-TheSorceror method it did fix some errors but doing what @Sameerkash said totally fixes the problem. Thankyou @Sameerkash and @JoelNadar-TheSorceror

[2021-06-20 08:45] bulletBane opened #143 "is there opportunity to work with custom 3d models? (ex: .max files)"

[2021-06-24 10:53] rubenteste commented on #136
@wiizarrrd can you show me an example how to use the translation, rotation and scale functions that you implement pls?

[2021-06-24 11:20] wiizarrrd commented on #136
@rubenteste I wrote a small "how to use" for my pull request
https://github.com/giandifra/arcore_flutter_plugin/pull/125#issuecomment-867554467

[2021-06-24 11:22] rubenteste commented on #136
thank you so much :)

[2021-06-29 05:26] minh-dai opened #144 "Manifest merger failed with multiple errors, see logs"
Version: arcore_flutter_plugin: ^0.0.11
Log:

Couldn't load memtrack module
Cannot restore config with null packageName or iccid.
2021-06-29 11:51:56.955 832-832/com.android.phone E/CarrierConfigLoader: Cannot save config with null packageName or iccid.
2021-06-29 11:51:56.956 832-832/com.android.phone E/PhoneInterfaceManager: [PhoneIntfMgr] getCarrierPackageNamesForIntent: No UICC
2021-06-29 11:5

[2021-07-05 07:27] ruskyvisky opened #145 "Null Safety Problem"
Hello! I'm trying  to make a ARCore app first time. but my Flutter version is 2.2.2 I got a this issue

The library 'package:arcore_flutter_plugin/arcore_flutter_plugin.dart' is legacy, and should not be imported into a null safe library.
Try migrating the imported library.

I don't know import null safe library. How ı can do for this problem?

My code is example code in the Ar_core_flutter packag

[2021-07-06 07:29] NTJ3 commented on #145
Same issue +1

[2021-07-07 11:09] Pareshoct7 commented on #137
This is the only one solution for this issue

[2021-07-07 11:40] maxTeste commented on #136
hey @wiizarrrd  with the ode u post down below is possibly to update for exemaple rotation or position after u place the object ?

[2021-07-07 14:17] wiizarrrd commented on #136
@maxTeste yes, that is why I created the pull request

[2021-07-07 14:19] maxTeste commented on #136
hoo so I have to change the files that you changed  ok ok , mb

[2021-07-07 15:10] maxTeste commented on #136
@wiizarrrd  did u lately use this functionality. i'm using it now but only can use scale. Rotation and position cant use it

if (objectSelected != null) {
      //"https://github.com/KhronosGroup/glTF-Sample-Models/raw/master/2.0/Duck/glTF/Duck.gltf"
      print("aaaaa");
      // 0.0, 0.9318101406097412, 0.0, 0.3629460632801056
      print(plane.pose.rotation);
      print("aaaaa");
      toucano

[2021-07-07 15:55] wiizarrrd commented on #136
@maxTeste you used `arCoreController.addArCoreNode**WithAnchor**(toucanoNode);.`
Simply use `arCoreController.addArCoreNode(toucanoNode);`

[2021-07-07 15:56] maxTeste commented on #136
@wiizarrrd i will try to use it ty :)

[2021-07-10 18:34] PeterTF656 commented on #145
could you please try "flutter run --no-sound-null-safety" instead of "flutter run"?

[2021-07-15 12:55] NTJ3 commented on #145
@PeterTF656 Work for me thanks.

[2021-07-16 11:36] leeprobert opened #147 "Crash rendering glb model"
I'm loading a `glb` file using the `ArCoreReferenceNode` but the app is crashing after download of the file. The camera feed is rendered for a second and then it crashes with this log:
[code]

[2021-07-16 16:33] leeprobert commented on #68
+1 ... I need vertical surface detection and the ability to set this in my UI so I can flip between the two.

[2021-07-20 07:11] sn9854d opened #148 "'onActivityCreated' overrides nothing"
../arcore_flutter_plugin-0.0.11/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreView.kt: (245, 38):
Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@NonNull p0: Activity, @Nullable p1: Bundle?): Unit defined in android.app.Application.ActivityLifecycleCallbacks

[2021-07-21 02:07] #148 closed

[2021-07-21 08:01] zerogravityent commented on #142
In the meantime you can find the AndroidManifest.xml file and change:
`<uses-feature android:name="android.hardware.camera.ar" />`
to:
`<uses-feature android:name="android.hardware.camera.ar" android:required="false" />`

[2021-07-23 16:56] jreffitt opened #149 "Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@NonNull p0: Activity, @Nullable p1: Bundle?):"
I was trying to import the plugin and run a newly created flutter app.

I was getting this build error:
`Launching lib/main.dart on TC77 in debug mode...
e: /Users/johnreffitt/Projects/cto/arcore_flutter_plugin-0.0.11/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onA

[2021-08-07 21:47] Chos92 commented on #145
@PeterTF656 Im having the same issue, and tried to run it '--no-sound-null-safety' and i got this in my log.can you help?

`e: C:\sr\flutter_windows_2.2.3-stable\flutter\.pub-cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public

[2021-08-08 09:40] PeterTF656 commented on #145
Hi, I haven't encountered that issue with arcore plugin. Could you try with flutter version <= 2.2.2?

[2021-08-08 21:25] Chos92 commented on #145
i tried to downgrade it but it keeps telling me "There is no previously recorded version for channel "stable"." I'm thinking of maybe reinstall flutter?

[2021-08-09 06:14] PeterTF656 commented on #145
Yes, you could try that. I'm using flutter 2.2.2, dart 2.13.3 on my Windows 10 machine and everything works fine with this package.

[2021-08-09 06:15] PeterTF656 commented on #145
@Chos92 Yes, you could try that. I'm using flutter 2.2.2, dart 2.13.3 on my Windows 10 machine and everything works fine with this package.

[2021-08-09 13:46] Chos92 commented on #145
@PeterTF656 I downgraded flutter to v2.2.2,and i get the same error
`e: C:\src\flutter_windows_2.2.2-stable\flutter\.pub-cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@NonNull p0: Activity,

[2021-08-10 02:40] PeterTF656 commented on #145
Dear Chos92,

The reason that I suggested running `--no-sound-null-safety` is this plugin (ARCORE plugin) does not support null safety. If you only use null-safety plugins, then you are fine with `flutter run`. In your case, I would recommend running `flutter clean` to clean old builds, and then `flutter pub get` and `flutter pub upgrade` to update all plugins. Unfortunately, I am not a Java/Kotli

[2021-08-10 06:26] sarinkarma commented on #111
I'm also running into the same issue in android 11. Has this issue been solved yet?

[2021-08-13 07:51] ChinmayaGit opened #150 "android 11 & null seafty"
on Android 11 it asking to install ar core but ar core is already up to date.
And it will better if null safety is added.

[2021-08-19 16:49] giandifra commented on #150
Hi, can you try [null-safety](https://pub.dev/packages/arcore_flutter_plugin/versions/0.1.0-null-safety.0) version?
thanks

[2021-08-19 16:50] giandifra commented on #145
Hi, can you try null-safety version? #150
thanks

[2021-08-21 05:28] naveenbharadwaj19 commented on #149
It's a fatal error:
[code]

[2021-08-24 07:44] #150 closed

[2021-08-24 14:06] Chos92 commented on #145
@giandifra yeah i did, but it keeps crashing because of this error.
`: C:\src\flutter_windows_2.2.2-stable\flutter.pub-cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(@nonnull p0: Activity, @n

[2021-08-27 10:18] piotrszpruta opened #153 "Way to place model automatically after plane is detected"
Does this plugin has an method to place model after plane was detected without any user interaction?

[2021-08-27 13:14] Chos92 opened #154 "Augmented Image Issue"
Hi, I'm new to programming and I'm trying to build an Augmented Image Example but I'm having issues. when I build the app a black screen appears and nothing happens.
can someone help me?

this is the code :

[code]

[2021-08-29 16:08] giandifra commented on #145
I have not this error, I read that you use version 0.0.11 of plugin, the correct version is 0.1.0-null-safety.1 for null safety.
Can you try?

[2021-08-29 16:21] giandifra commented on #149
Fixed in 0.1.0-null-safety.3

[2021-08-29 16:21] #149 closed

[2021-08-29 20:37] alejandrogiubel opened #155 "I can't use the plugin in a device with ArCore installed"
I have a Samsung Galaxy A30 and its have installed ArCore. When I run the plugin it send me to Google play to install the ArCore service but I have installed. I check this two variables

and

`ArCoreController.checkArCoreAvailability()` `return true` and `ArCoreController.checkIsArCoreInstalled();` `return false`.

What can I do?
Thank

[2021-08-29 21:12] alejandrogiubel commented on #155
I solve the problem change the `compileSdkVersion` and `targetSdkVersion` from 30 to 29. Maybe sombre problem in Api 30.

[2021-08-30 02:35] #54 closed

[2021-08-31 20:46] #155 closed

[2021-09-04 16:30] chinu999 opened #156 "Android 11"
on Android 11 it is saying to update arcore but arcore is already up to date

[2021-09-05 11:40] Meet-05 commented on #137
@Sameerkash  your solution worked , Thanks!

[2021-09-06 08:43] suneeltechnew opened #157 "Redeclaration: ArCoreView"
I am using ar_fluuter_plugin in my project. and I migrated the app to nullable using migrate tool.

after migration, while debugging the app, I am getting following error.

 C:\Users\username\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (33, 7): Redeclaration: ArCoreView
e: C:\User

[2021-09-10 15:26] Chos92 commented on #66
Instead of the image could you display a video on it and play it on a loop ?

[2021-09-21 14:00] go2hyder commented on #111
+1

[2021-09-22 06:52] go2hyder commented on #156
Same issue here. Any solutions?

[2021-09-22 06:56] go2hyder commented on #156
![WhatsApp Image 2021-09-22 at 10 54 46 AM](https://user-images.githubusercontent.com/10498709/134296875-b063dc92-35b5-4d4f-ba3b-66e925c8d33e.jpeg)

The screen is stuck on this popup

[2021-09-28 08:37] ChinmayaGit commented on #157
use this
Prerelease: 0.1.0-null-safety.3
or remove null safety

[2021-09-30 13:49] suneeltechnew commented on #157
@ChinmayaGit , thanks for the suggestion. it is working now.

[2021-10-05 06:17] naveenbharadwaj19 commented on #54
@RobinLbt  Could you be more specific ? I'm facing the same problem it is working fine in debug mode not in release & profile

[2021-10-06 05:48] naveenbharadwaj19 commented on #54
@RobinLbt  So the problem is with `arcore_flutter_plugin `? Few months back even in release mode everything was working fine

[2021-10-06 06:02] RobinLbt commented on #54
Yes I've tried everything and it seems like the plugin is creating the problem

[2021-10-06 06:47] naveenbharadwaj19 opened #158 "Output model working only in debug mode"
Prolonged bug from #54

Tap on plane detection working only in debug mode not in profile & release mode.

<details>
    <summary>Profile logs</summary>
           E/native  (31449): E1006 12:43:59.099501   31449 hit_test.cc:428] generic::internal: No point hit.
I/native  (31449): I1006 12:43:59.117175    1809 pose_manager.cc:350] World pose node changing to MapId:3b00f4ca-8fc1-2ad9-9d83-cc2eeb2a2e

[2021-10-06 15:17] ChinmayIngale opened #159 "On plane tap not working"
After detecting Plane, on tap the following error displays.
[code]

[2021-10-09 12:36] #158 closed

[2021-10-17 12:03] vysakhrj opened #160 "addNodeWithAnchor fuction not called. Method implementation not found."
dependencies:
  arcore_flutter_plugin: ^0.1.0-null-safety.3

flutter: 2.5.2

Unhandled Exception: MissingPluginException(No implementation found for method addArCoreNodeWithAnchor on channel arcore_flutter_plugin_1)
E/flutter (27757): #0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:154:7)

![Screenshot from 2021-10-17 17-30-52](https://user-images.githubuser

[2021-10-30 03:36] #137 closed

[2021-11-01 13:26] rshrc commented on #10
I was looking for an onTap feature on the 3D object, is there any way to achieve that? looks similar to what we want to do when we want to rotate or zoom the object

[2021-11-02 08:17] MihailDundukov opened #161 "Rotation"
Hello! Can you say please how is working Vector4 for rotating objects? I tried to find some information, but there it's not in here:(

[2021-11-08 21:03] lFitzl commented on #99
Hi, Can you share some sample code?

[2021-11-09 09:17] billbull21 commented on #156
you should just change the target sdk to 29

[2021-11-11 08:08] lFitzl commented on #111
I was reading [this](https://developers.google.com/ar/develop/unity-arf/android-11-build?hl=en) andcame to the conclusion that there was a version incompatibility (gradle)  https://developer.android.com/studio/releases/gradle-plugin#updating-gradle

After a few hours I tried to update the gradle version of my project so that it can be compatible with what is required by ARCore and I used  [this an

[2021-11-11 08:21] lFitzl commented on #156
https://github.com/giandifra/arcore_flutter_plugin/issues/111#issuecomment-966076461

[2021-11-12 06:07] chwiz143 commented on #156
@billbull21 unfortunately play console now requires you to target android 11 (sdk 30)

[2021-11-12 06:20] billbull21 commented on #156
is it true ? i don't know, i currently targetting my app to the sdk 29 and still working fine.

[2021-11-15 00:54] chwiz143 commented on #156
Starting from November any new apps or updates seem to require sdk 30.
[Meet Google Play's target API level requirement](https://developer.android.com/distribute/best-practices/develop/target-sdk)

[2021-11-16 08:17] lFitzl commented on #156
add
dependencies:
  ar_flutter_plugin: ^0.5.1

This worked for me

[2021-11-17 03:32] hvg2416 opened #162 "Outdated documentation?"
Hi! @giandifra and other contributors, First of all, thank you so much for this awesome package.

I was exploring it & realized that the documentation needs an update.
Let me give you an example.
In the article [ARCore Flutter Plugin: add object on the plane](https://medium.com/@difrancescogianmarco/arcore-flutter-plugin-add-object-on-the-plane-8b3d7cbde3d3#:~:text=Below%2C%20the%20method%20called

[2021-11-18 08:41] hvg2416 commented on #96
@wiizarrrd I tried to see a variety of surroundings but then also it always keep showing hits as **empty** array.
Do you have any idea?

[2021-11-18 23:37] wiizarrrd commented on #96
@hvg2416 Did you use the following code?

ArCoreView(
          onArCoreViewCreated: _onArCoreViewCreated,
          enableTapRecognizer: true,
        )

  void _onArCoreViewCreated(ArCoreController controller) {
    arCoreController = controller;
    arCoreController.onNodeTap = (name) => onTapHandler(name);
    arCoreController.onPlaneTap = _handleOnPlaneTap;
  }

[2021-11-19 08:42] hvg2416 commented on #96
@wiizarrrd yes. I am attaching my code below as well for reference.
[code]

[2021-11-20 19:48] cjparent commented on #161
The rotation Vector4 is mapped to a center pose. The documentation for a pose can be found here and should explain the function of the 4 rotational dimensions

https://developers.google.com/ar/reference/java/com/google/ar/core/Pose#Pose-translation-rotation

[2021-11-20 20:04] MihailDundukov commented on #161
Thank you very much!

[2021-12-03 09:18] kanikapoor-dot commented on #90
@giandifra @basharkousa @Anurag-Pola Any one got how to add the double sided feature?

[2021-12-07 10:09] srinivaspalchuri-saven commented on #160
hi, facing the same issue, any update on this

[2021-12-08 08:22] srinivaspalchuri-saven opened #163 "MissingPluginException(No implementation found for method getTrackingState on channel arcore_flutter_ plugin_1)"
Hi,
Thanks for the plugin, i want to display the animation while camera in tracking state.  how to get the tracking state

[2021-12-08 08:25] vysakhrj commented on #160
Try adding
[code]
insted of
[code]

[2021-12-12 14:49] apinprastya commented on #106
Is it possible to play video in the end?

[2021-12-13 06:33] jyashi commented on #148
Did you find a solution to this? I am having same issue

[2021-12-13 07:02] jyashi opened #164 "Build failed"
I have this error with both 0.0.11 and ^0.1.0-null-safety.3 version

`Launching lib\main.dart on Pixel in debug mode...
lib\main.dart:1
e: C:\Users\User\Documents\GitHub\project_ar\android\app\src\main\kotlin\com\example\project_ar\MainActivity.kt: (6, 1): 'onActivityCreated' overrides nothing
e: C:\Users\User\Documents\GitHub\project_ar\android\app\src\main\kotlin\com\example\project_ar\MainActiv

[2021-12-15 03:28] DragonSlayer88 commented on #164
I second this. How is this package even useable??? fix this please.

[2021-12-17 06:17] asfiul commented on #137
Thanx . it's work for me

[2021-12-19 22:32] abdoshy97 opened #165 "Photo shoot"
After adding the effect, I want him to record a video or take a picture

[2021-12-20 05:31] naveenbharadwaj19 commented on #164
@DragonSlayer88  i think this package is outdated . Have a look at this one [ar_flutter](https://pub.dev/packages/ar_flutter_plugin)

[2021-12-21 19:46] digitalrbnz commented on #145
You can disable null safety by setting the Dart SDK Version below 2.12

environment:
  sdk: ">=2.11.0 <3.0.0"

You have to remove any null safety references though.

[2021-12-29 13:21] cosmopolit commented on #99
Hello @RobinLbt I'm also interested in a geopositioned object view. I would like to use it as the basis for a team project at my university.

[2022-01-12 10:58] mpapado3 commented on #99
I am also interested on the GPS implementation for a project that I run.

[2022-01-14 12:25] jakub-cosmose commented on #123
I don't think it's solved. The plugin still doesn't support handling position updates. Making it work requires forking the plugin and making custom modifications. Is there any reason why this code is still commented out?

[2022-01-26 14:52] jakub-cosmose opened #166 "Replace Sceneform with the maintained version"
Google has abandoned Sceneform long time ago. The last version that they released has a lot of problems with rendering glb files created with the current software. There were plans to refactor the plugin to get rid of Sceneform completely, but it's a lot of work and nothing has happened.
I think that we should, at least for now, replace the deprecated version of Sceneform with the [maintained fork

[2022-01-27 11:15] gogori2 commented on #156
I fixed this with changing value to optional in Manifest:

`<meta-data android:name="com.google.ar.core" android:value="optional" /> `

[2022-02-01 09:09] Saderis commented on #166
Please do make the pull request. I'd like to check it out.

[2022-02-01 13:08] jakub-cosmose commented on #166
I've made a PR
https://github.com/giandifra/arcore_flutter_plugin/pull/167/files
Unfortunately, this version doesn't support all the features handled by the example app, so making it production ready would require more work, but I think it's a good start.
The use case that I use is my app is rendering a glb model downloaded from the network, anchored "in the air" in front of the user, and it works

[2022-02-05 16:01] dromerolovo opened #168 "App crashes before render ArCoreView Widget"
Hey guys,

So the app consists of two widgets. The main widget has a button that should navigate to the second widget, which is the _ArCoreView_ widget called _ArWidget_

`onPressed: () {
                            Navigator.push(
                              context,
                              MaterialPageRoute(builder:(context) => ArWidget())
                            );

[2022-02-05 23:24] MaxMald commented on #105
Hi guys, a fbx animation example would be very helpful.

[2022-02-11 00:23] jpirovano commented on #18
Guys, I think you should warn in the readme that it doesn't support iOS, I lost 30min configuring it to find out

[2022-03-04 13:01] amir-msh commented on #149
Hi, I'm using the latest version of the package and I'm having the same exception, It's fatal but it's not solved yet!how's the status?
@giandifra

[2022-03-04 13:10] amir-msh commented on #149
Hi, thanks for your great package, I'm using the latest version of the package and the latest version of Flutter but I still have the same exception, It's fatal but it's not solved yet! how's the status?
@giandifra

[2022-03-04 13:42] dev-mohib commented on #156
Worked

[2022-03-21 10:59] avikdutta111191 commented on #111
+1

[2022-03-21 11:39] avikdutta111191 commented on #155
Tried that to didn't work

[2022-03-21 11:57] avikdutta111191 commented on #155
getting same result in target and comile SDK 31 too

[2022-03-29 12:06] Justin-roy commented on #164
getting same issue

[2022-04-04 07:46] KennyChan94P commented on #98
hi guys, do we have any update on this feature? im new to AR but i would like to have the feature mentioned by @rlazom

[2022-04-05 03:32] KennyChan94P commented on #121
hi @aleonnet, im new to AR, do you have any progress on this feature? would you mind to share with me if you have a work around or something? thank you.

[2022-04-05 09:13] nauval123 opened #169 "Crashing on samsung a70"
I make an apps with simple ar function, i tried follow it works on phone with android 10 ,but when i tried on samsung a70

it show black blank page and notification like this

![Screenshot_20220405-161306.png](https://user-images.githubusercontent.com/55051662/161721078-ca730b73-a91d-4ae5-963d-9b2fe5c57b72.png)

what im supposed to do?

[2022-04-05 11:18] aleonnet commented on #121
Hi, unfortunately not. Probably you'll have to combine a qrcode reader in
normal camera that triggers an image anchor in AR view.
Regards

On Tue, Apr 5, 2022, 00:32 KennyChan ***@***.***> wrote:

[2022-04-06 02:03] KennyChan94P commented on #121
hi @aleonnet , thanks for your reply, i think the plugin provides us the functionality that you want with AugmentedPage.
basically what the AugmentedPage widget does is that it allows us to loadSingleImage() which is our anchor (it can be any picture), so as long the assets used in the loadSingleImage() is detected with the camera, the _addSphere() will be invoked.

[2022-04-07 03:05] KennyChan94P commented on #4
hi @dariocavada , hope you are doing well. may i know have you fixed or improved the precision and the efficiency of the AugmentedImage function when detecting the marker?

[2022-04-07 05:34] dariocavada commented on #4
Unfortunately I have not used the plug-in for long time.
Next week I'll give a try before I need to implement such feature both for iOS and Android.

I'm investigating also if there are other solutions such as using vuforia + unity + unity flutter plug-in but is not so simple ...

A other alternative, just a work around I would like to try is to have a webview with augmented reality inside using h

[2022-04-08 09:45] KennyChan94P commented on #128
hi @busterbogheart , have you found any solution to load local GLB or GLTF assets?

[2022-04-11 07:21] KennyChan94P commented on #122
@wiizarrrd it seems like you have the solution. can you please send a screenshot of your chunk of code here? i tried with your solution above but i cant make it work.

[2022-04-11 10:59] wiizarrrd commented on #122
@KennyChan94P this is my code. However it is a very bad workaround as it works via searching in the whole system folder for the object.

[2022-04-12 14:44] KennyChan94P commented on #166
hi @jakub-cosmose , thanks for replace the existing Sceneform with the community-maintained version.
but after implementing your version, i have problem running the app to my phone and below are part of my errors:
`
FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:checkDebugDuplicateClasses'.

     Duplicate class com.google.android.filament.AndroidPlatf

[2022-04-12 14:58] KennyChan94P commented on #166
silly me! im seeing this kind of "Duplicate class" error because im using another plugin `ar_flutter_plugin`@ https://pub.dev/packages/ar_flutter_plugin which is still using the old Sceneform.
please ignore my previous reply. thank you once again for migrating the Sceneform.

[2022-04-13 09:39] KennyChan94P commented on #72
hi @Gorodetskaya-Mariia @RobinLbt , i need it as well, may i know do you guys have it working already? if yes, can you share with me? thanks in advance!

[2022-04-19 11:52] samatzhusup commented on #99
Any solution guys?

[2022-04-21 03:51] KennyChan94P opened #170 "onNodeTap does not work with onTrackingImage"
im doing a `arCoreController.addArCoreNodeToAugmentedImage(node1, augmentedImage.index);` but my onTapHandler() does not work.
![image](https://user-images.githubusercontent.com/62973895/164368384-9062b0db-3875-4b35-a2df-46f573ae8d6c.png)

does anyone have any idea?

[2022-04-21 09:46] abdrefai opened #171 "FAILURE: Build failed with an exception."
AndroidARViewFactory.kt: (10, 2): Class 'AndroidARViewFactory' is not abstract and does not implement abstract base class member public abstract fun create(p0: Context?, p1: Int, p2: Any?): PlatformView defined in io.flutter.plugin.platform.PlatformViewFactory

i need help

[2022-04-23 18:16] xawlo commented on #169
I also encountered this problem. In the plugin version ^0.1.0-null-safety.3

[2022-04-27 03:32] nauval123 commented on #169
i use ar_flutter package by lars  to user augmented reality feature right now

[2022-04-28 08:26] cozvtieg9 commented on #156
This works for me (tested on Pixel 6, Android 12):
I downloaded plugin source and added to pubspec in this way:
`arcore_flutter_plugin`
    `path: './arcore_flutter_plugin'`

Next step is update versions in plugin build.gradle:

1. `compileSdkVersion 30`
2. `ext.kotlin_version = '1.6.20'`
3. `implementation 'com.google.ar:core:1.30.0'
    implementation 'com.google.ar.sceneform:core:1.17.1'
    im

[2022-05-07 09:03] nidhin579 commented on #90
@kanikapoor-dot Any ideas yet?

[2022-05-12 19:32] WijdanMTak commented on #170
I am encountering the same issue, any updates?

[2022-05-13 01:59] KennyChan94P commented on #170
you can try my fork at `https://github.com/KennyChan94P/arcore_flutter_plugin` on the `null-safety` branch.
but i had made the plugin to AR Required.

[2022-05-15 06:52] nidhin-cnd opened #172 "Node inside another node can't be tapped"
I added a large sphere and also a smaller sphere inside it. `onNodeTap ` returns name of the larger sphere everytime even my current position is inside larger sphere.

[2022-05-15 06:54] #172 closed

[2022-05-15 07:02] nidhin579 opened #173 "Node inside another node can't be tapped"
I added a large sphere and also a smaller sphere inside it. `onNodeTap` returns name of the larger sphere everytime even my current position is inside larger sphere and taps on smaller one.

[2022-05-16 16:23] WijdanMTak commented on #170
Could you please guide me how to implement your frok?
I have tried to add it to pubspec.yaml of my projects as follow using (ssh or HTTPs):
  arcore_flutter_plugin:
    git: https://github.com/KennyChan94P/arcore_flutter_plugin.git
with no suceess
I have also tried to clone it seperatly, error in cloning, and when I download it as zip archive not opened

[2022-05-20 16:32] what2003 opened #175 "tracking image took way harder than it should be"
I was using unity Arfoundation which also invoke ARcore to track image, easy to recognize a picture.
Switch to  this plugin which I thought would be better performance, but it become very hard to track an image, took long time recognizing image.
Anyone knows why and how to fix it?

Feel shame to see so important plugin stop maintenance!!!

[2022-05-22 06:39] Seung-hwan285 opened #176 "arcore_flutter_plugin:compileDebugKotlin"
e: C:\Users\User\Downloads\flutter_windows_2.10.3-stable\flutter\.pub-cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(p0: Activity, p1: Bundle?): Unit defined in android.app.Application.Activi

[2022-05-23 10:10] KennyChan94P commented on #170
@WijdanMTak hi, the `onNodeTap` i introduced in my fork is for `ArCoreAugmentedImagesView()`.
if yes, then you have to introduce `enableTapRecognizer` in the `ArCoreView()` as shown as the screenshot below
![image](https://user-images.githubusercontent.com/62973895/169796621-ae916c4a-5ec6-4430-9090-85cf242e9a54.png)
if yes, you have to declare `arCoreController.onNodeTap` as shown as the screensho

[2022-05-25 04:11] Seung-hwan285 commented on #122
hi @matwright ~
I've tried like you said but nothing comes out.
Is there something I'm missing out on?

For example, I would appreciate it if you let me know if I need to put the glb file separately.

`
  void _addToucano(ArCoreHitTestResult plane) {
    final toucanNode = ArCoreReferenceNode(
        name: "Toucano",
        objectUrl:
        "https://github.com/KhronosGroup/glTF-Sample-Models/r

[2022-05-25 06:53] saurabhandroid-code commented on #145
: C:\Users\snanda\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.1+1\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\models\RotatingNode.kt: (131, 9): Val cannot be reassigned

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':arcore_flutter_plugin:compileDebugKotlin'.

[2022-05-25 06:55] saurabhandroid-code commented on #145
C:\Users\snanda\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.1+1\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\models\RotatingNode.kt: (130, 9): Val cannot be reassigned

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':arcore_flutter_plugin:compileDebugKotlin'.

This Error I am getting any solution....

[2022-05-25 06:56] saurabhandroid-code commented on #145
C:\Users\snanda\AppData\Local\Pub\Cache\hosted\pub.dartlang.org\arcore_flutter_plugin-0.0.1+1\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\models\RotatingNode.kt: (130, 9): Val cannot be reassigned

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':arcore_flutter_plugin:compileDebugKotlin'.

  What is solution of this...

[2022-05-26 08:43] alegos27 commented on #111
I faced this issue too on xiaomi redmi note 11 with android 11

[2022-05-26 08:51] alegos27 commented on #156
worked for me

[2022-05-26 08:54] alegos27 commented on #156
this work also for me

[2022-05-26 08:56] alegos27 commented on #176
I faced this issue after updating to flutter 3

Solved with downgrade to flutter 2.10.5

[2022-05-26 11:45] Seung-hwan285 commented on #176
I saw this and fixed it
https://github.com/giandifra/arcore_flutter_plugin/issues/149

[2022-05-26 11:47] #176 closed

[2022-05-27 10:26] bilel2104 commented on #170
hi, i am facing an issue in the image Tracking when i point the camera the object do not appear do you have any idea how to solve it, when i start debugging the issue appear in this line
arCoreController.addArCoreNodeToAugmentedImage(node, augmentedImage.index);

[2022-05-31 03:24] media-ch opened #177 "ArCoreController.addArCoreNodeToAugmentedImage cause "[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: Null check operator used on a null value""
Hello. I have faced "Unhandled Exception: Null check operator used on a null value" on using ``addArCoreNodeToAugmentedImage``.

As a tutorial, I copied [the augmented_images.dart example](https://github.com/giandifra/arcore_flutter_plugin/blob/master/example/lib/screens/augmented_images.dart) to my flutter project. And I tried with my android device in debug mode.

Image detection seems to be suc

[2022-05-31 08:57] bilel2104 commented on #177
same problem here, I guess the package is still not stable after the null safety update, if anyone disagrees with me, please share with us the solution :)

[2022-06-03 00:02] ashadnadeem opened #178 "Can I use a human-body model? To fit clothes on it."
I want to work on Virtual-try on clothes but for that there isn't any model or library that creates such.

[2022-06-03 14:27] Muhammad-Marei opened #179 "arcore_flutter_plugin:compileDebugKotlin"
I use it with flutter 3
and  arcore_flutter_plugin: ^0.1.0-null-safety.3
Execution failed for task ':arcore_flutter_plugin:compileDebugKotlin'.

[2022-06-10 17:56] DanteAlucard98 opened #180 "Multiple Faces"
i have a question, for aumented face, can ARCore support multiple faces or detect multiple faces?

[2022-06-15 10:20] aimankhan602 opened #181 "Issue with plugin"
I imported your project from github but when I run the app it gave me errors which i resolved somehow but at the end i got stuck with this error.

e: C:\Users\shera\StudioProjects\arcore_flutter_plugin-master\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreViewFactory.kt: (12, 1): Class 'ArCoreViewFactory' is not abstract and does not implement abstract base class memb

[2022-06-15 15:36] steevepypro commented on #181
same issue

[2022-06-15 16:14] aimankhan602 commented on #181
Hi @giandifra Can you address this issue. It's in your example app and if I create a new app it still persists.

[2022-06-16 16:18] what2003 commented on #179
same

[code]

[2022-06-16 16:24] giandifra commented on #179
Can you try the master branch ?

[2022-06-18 05:56] sciphergfx commented on #181
try this
<img width="976" alt="Screen Shot 2022-06-18 at 07 55 08" src="https://user-images.githubusercontent.com/6403720/174424983-a90a8d03-bc8a-496e-860f-19b8be2128b0.png">
line 246
override fun onActivityCreated(activity: Activity , savedInstanceState: Bundle?)
should become
override fun onActivityCreated(activity: Activity? , savedInstanceState: Bundle?)

[2022-06-18 09:27] EmanuelEnan commented on #179
same issue I'm also facing. It's frustrating to use this plugin as it always seems to show some issue even if you follow every step they've mentioned.

[2022-06-22 18:25] what2003 commented on #179
@giandifra I downloaded example with master branch, still same ploblem:

e: /Users/jack/Downloads/arcore_flutter_plugin-master/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreViewFactory.kt: (12, 1): Class 'ArCoreViewFactory' is not abstract and does not implement abstract base class member public abstract fun create(p0: Context?, p1: Int, p2: Any?): PlatformView defin

[2022-06-22 19:24] what2003 commented on #179
Found a solution, modify two files blow.
 I don't know kotlin, but basically it is a nullable problem. @giandifra

../arcore_flutter_plugin-master/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreViewFactory.kt
line 14 from
 override fun create(context: Context, id: Int, args: Any?): PlatformView {
to
 override fun create(context: Context?, id: Int, args: Any?): Platfor

[2022-06-24 11:22] ibad321 opened #182 "E:\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(p0: Activity, p1: Bundle?): Unit defined in android.app.Application.ActivityLifecycleCallbacks"
![2022-06-24](https://user-images.githubusercontent.com/76655046/175524744-9ec712b5-1f04-41c1-9514-1332aeb16778.png)
 plz solve this its urgent using flutter 2.10

[2022-06-24 11:23] ibad321 opened #183 "e: E:\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(p0: Activity, p1: Bundle?): Unit defined in android.app.Application.ActivityLifecycleCallbacks"
![2022-06-24](https://user-images.githubusercontent.com/76655046/175524950-6e9a99b1-4a68-4ed0-87c9-0c6efe8c1d2b.png)

[2022-06-24 19:14] steevepypro commented on #182
try this..
is work for me.
https://github.com/giandifra/arcore_flutter_plugin/issues/179#issuecomment-1163516074

[2022-06-24 20:15] ibad321 commented on #182
try but not working any solution

[2022-06-24 20:23] ibad321 opened #184 "e: E:\arcore_flutter_plugin-0.0.11\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreView.kt: (245, 38): Object is not abstract and does not implement abstract member public abstract fun onActivityCreated(p0: Activity, p1: Bundle?): Unit defined in android.app.Application.ActivityLifecycleCallbacks"
USing Flutter 2.10
![2022-06-25](https://user-images.githubusercontent.com/76655046/175661889-346c1acb-a4a5-4f6d-b362-c9ead68098bd.png)

This Is Pubspec.yml
![2022-06-25 (1)](https://user-images.githubusercontent.com/76655046/175661973-98c1e4a5-3b41-447a-b682-31b14b8809b1.png)

[2022-06-25 09:21] ibad321 opened #185 "No Hit Point Using Ar core plugin"
i Want to Show product Image Through Camera On Doted Location But i Face issue plz solve
![WhatsApp Image 2022-06-22 at 8 18 19 PM](https://user-images.githubusercontent.com/76655046/175766982-027810a8-21ff-460b-b7d5-b876e10f81cf.jpeg)

This Occur On Debug Console when we hit on Doted plz solve
![2022-06-22 (5)](https://user-images.githubusercontent.com/76655046/175767049-1442ec1d-2f88-4409-8a9b-8

[2022-06-27 11:16] AlexaneHongTemplier opened #186 "ArCore occlusion"
Hello !

Currently, objects are displayed in front of every obstacles. However it seems like you can hide objects behind a wall for example with ArKit.

Is there a way to have occlusion with ArCore ?

Thanks a lot

[2022-07-05 11:32] jintop-coder opened #187 "[ arcore_flutter_plugin 0.1.0-null-safety.3 ] I have no idea what is this"
![Screenshot 2022-07-05 165654](https://user-images.githubusercontent.com/75776202/177317473-5717b8c1-2352-440e-b4d5-f2c7d88007c9.png)

I have no idea what is this............? , I think it came from plugin side arcore_flutter_plugin 0.1.0-null-safety.3 ,

and i don't konw the platform side to access the android native code using method channel so how to access it ....?

[2022-07-12 16:15] RiojasMx opened #188 "Measuring distance"
Is it possible to do something like this with this plugin?
https://github.com/shibuiwilliam/arcore-measurement

[2022-07-16 10:14] wijdanMT commented on #170
@KennyChan94P hi,
I am getting these errors, how can I get rid of them?
`e: C:\flutter\.pub-cache\git\arcore_flutter_plugin-ad0ca2acc28fdca2ac31ed55fc75ba8e7d855de2\android\src\main\kotlin\com\difrancescogianmarco\arcore_flutter_plugin\ArCoreViewFactory.kt: (12, 1): Class 'ArCoreViewFactory' is not abstract and does not implement abstract base class member public abstract fun create(p0: Context?,

[2022-07-17 16:39] kotran88 opened #189 "Hello world page show nothing"
actually, all things except for Augmented Faces seems not working.

I got error and solved by following
https://github.com/giandifra/arcore_flutter_plugin/issues/179#issuecomment-1163516074

so my ArCoreViewFactory.kt is as follows

[code]
what may be the problem?

[2022-07-19 10:54] #189 closed

[2022-08-03 05:01] BrutalCoding commented on #178
This is the wrong place to ask I'm afraid. This repo is a limited wrapper around ARCore, so if I were you I'd start off checking if its possible with ARCore.

If ARCore supports it, the next step you probably want to do is looking up how its done in ARCore (code examples) and then come back here to see if the required API's are available to call from Flutter.

In case [arcore_flutter_plugin](https

[2022-08-28 10:07] anmolguptach opened #191 "<meta-data android:name="com.google.ar.core" android:value="required" />"
Launching lib/main.dart on RMX3242 in debug mode...
Running Gradle task 'assembleDebug'...
/Users/anmolgupta/StudioProjects/ar_app/android/app/src/debug/AndroidManifest.xml Error:
	Attribute meta-data#com.google.ar.core@value value=(required) from (unknown)
	is also present at [:arcore_flutter_plugin] AndroidManifest.xml:30:13-37 value=(optional).
	Suggestion: add 'tools:replace="android:value"' t

[2022-08-28 10:11] anmolguptach commented on #191
<img width="1708" alt="Screenshot 2022-08-28 at 3 39 42 PM" src="https://user-images.githubusercontent.com/102747077/187068760-00137cfd-9783-4e45-b632-64f57b3f5ec3.png">
<img width="1690" alt="Screenshot 2022-08-28 at 3 39 21 PM" src="https://user-images.githubusercontent.com/102747077/187068766-993f78dd-fc9b-4d2b-a66e-6468a565ed9d.png">
<img width="1715" alt="Screenshot 2022-08-28 at 3 40 04 PM"

[2022-08-28 10:28] anmolguptach opened #192 "When running example"
e: /Users/anmolgupta/Desktop/arcore_flutter_plugin-master/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArCoreViewFactory.kt: (12, 1): Class 'ArCoreViewFactory' is not abstract and does not implement abstract base class member public abstract fun create(p0: Context?, p1: Int, p2: Any?): PlatformView defined in io.flutter.plugin.platform.PlatformViewFactory
e: /Users/anmolg

[2022-09-02 04:38] swkim-lbstech commented on #191
<meta-data android:name="com.google.ar.core" android:value="required" />
I erased the code.

And it changed all dependencies to the latest version.

dependencies {

    // Provides ArFragment, and other UX resources.
    implementation "com.google.ar.sceneform.ux:sceneform-ux:1.17.1"

    // Alternatively, use ArSceneView without the UX dependency.
    implementation "com.google.ar.sceneform:core:

[2022-09-04 19:36] anmolguptach commented on #191
Launching lib/main.dart on sdk gphone64 arm64 in debug mode...
Running Gradle task 'assembleDebug'...
e: /Users/anmolgupta/Downloads/flutter/.pub-cache/hosted/pub.dartlang.org/arcore_flutter_plugin-0.0.11/android/src/main/kotlin/com/difrancescogianmarco/arcore_flutter_plugin/ArcoreFlutterPlugin.kt: (32, 74): Type mismatch: inferred type is Activity? but Activity was expected

FAILURE: Build failed

[2022-09-05 09:18] wijdanMT opened #193 "update node position by touching & dragging node"
Hi there,
thanks for this awesome plugin, I am trying to make a slider on the ArcoreView that allows the user to change the node position by scaling it up and down, but I didn't find any argument for the hit to let me update the node position according to the new touch position.
how can I implement this,
I appreciate your time.

[2022-09-13 07:22] realArafatBen commented on #191
Update your build.gradle dependency to  implementation 'com.google.ar:core:1.33.0

[2022-09-29 11:16] bilel2104 commented on #192
hi, i have the same problem, if you solved please share the solution with me and thanks

[2022-11-04 03:18] CellCS commented on #192
The same issue when `flutter run` inside ./example/

[✓] Flutter (Channel stable, 3.3.7, on macOS 13.0 22A380 darwin-arm, locale en-US)
    • Flutter version 3.3.7 on channel stable at /Users/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision e99c9c7cd9 (2 days ago), 2022-11-01 16:59:00 -0700
    • Engine revision 857bd6b74c
    • Dart version 2.18.4

[2022-11-14 18:30] nsvetlakov commented on #179
line 30 wrong
need
` return ArCoreView(activity, context!!, messenger, id, type == "faces", debug)`

[2022-11-23 17:53] kbattulwar opened #197 "Gradle Error !!!!!"
Hi,
I  have tried every method in my knowledge to fixz this error. Does anyone know how can i overcome this?
Will really appreciate your I  have tried every method in my knowledge to fixz this error. Does anyone know how can i overcome this?
Will really appreciate your help at this moment.help at this moment.

Warning: unexpected element (uri:"", local:"base-extension"). Expected elements are <{}c